<!doctype html>
<html lang="en">
{% load staticfiles %}
{% load static %}
{% load formata_valores %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{{ base_static_url }}/css/bootstrap/bootstrap-4.6.0.min.css" rel="stylesheet">
  <link href="{{ base_static_url }}/css/pdf-relatorio-dos-acertos.css" rel="stylesheet">
  <title>Relatório de acertos PTRF</title>
</head>
<body>
{# ************************* Cabecalho das páginas *************************  #}

<header>
  <div class="d-flex p-2 bd-highlight mt-1">
    <div class="col-6 mt-2">
      <p class="subtitulo font-12 mb-0">Prestação de Contas - Relatório de Devolução</p>
      <p class="font-14">Devolução para acertos a Associação</p>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-auto borda-box-cabecalho-right ml-5 ml-auto">
          <p class="font-10 mb-0">Período de Realização:</p>
          <p class="subtitulo font-10 mb-0 pb-0">{{ dados.info_cabecalho.periodo_referencia }} -  {{ dados.info_cabecalho.data_inicio_periodo|date:'d/m/Y' }} até {{ dados.info_cabecalho.data_fim_periodo|date:'d/m/Y' }}</p>
        </div>
      </div>
    </div>
  </div>
</header>

{# ************************* Fim Cabecalho das páginas *************************  #}

{# ************************* Rodape ************************* #}
<p id="data-geracao-rodape">
  <i class="font-10">{{ dados.data_geracao_documento }}</i>
</p>
{# ************************* Fim Rodape ************************* #}

<section id="cabecalho" class="mt-2">
  <div class="d-flex p-2 bd-highlight">
    <div class="col-4">
      <img src="{{ base_static_url }}/images/logo-color.svg" alt="logo">
    </div>
    <div class="col-8 pr-3 mr-0 mt-2 d-flex align-items-center justify-content-end">
      <p class="titulo font-16">Programa de Transferências de Recursos Financeiros - PTRF</p>
    </div>
  </div>
  <hr class="divisao"/>
  <div class="d-flex p-2 bd-highlight mt-2">
    <div class="col-6 mt-2">
      <p class="subtitulo font-12 mb-0">Prestação de Contas - Relatório de Devolução</p>
      <p class="font-12">Devolução para acertos a Associação</p>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-auto borda-box-cabecalho-right ml-5 ml-auto">
          <p class="font-12 mb-0">Período de Realização:</p>
          <p class="subtitulo font-12">{{ dados.info_cabecalho.periodo_referencia }} -  {{ dados.info_cabecalho.data_inicio_periodo|date:'d/m/Y' }} até {{ dados.info_cabecalho.data_fim_periodo|date:'d/m/Y' }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="conteudo mt-4">

  {% comment %} Bloco de identificação {% endcomment %}
  {% include "./bloco-de-identificacao.html" with dados=dados %}

  {% if dados.dados_ajustes_contas %}
    <article class="mt-4">
      {% for ajuste_conta in dados.dados_ajustes_contas %}
        <table class="table table-bordered tabela-resumo-por-acao ">
          <thead class="">
            <tr class="">
              <th colSpan="1">
                <strong class="font-16 titulo-bloco ml-2">{{ dados.blocos.acertos_contas }}</strong>
              </th>
            </tr>

            <tr>
              <th colSpan="1">
                <strong class="font-12 titulo-bloco">Conta {{ ajuste_conta.nome_conta }}</strong>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
                <td>
                  <div class="row mt-2 mb-2">
                    {% if ajuste_conta.data_extrato %}
                      <div class="col-4">
                          <strong class="font-12 ml-4"><span class="text-saldo-reprogramado">Ajuste da data do extrato</span></strong>
                          <br>
                          <span class="font-12 ml-4">{{ ajuste_conta.data_extrato|date:'d/m/Y' }}</span>
                      </div>
                    {% endif %}

                    {% if ajuste_conta.saldo_extrato is not None %}
                      <div class="col-4">
                          <strong class="font-12 ml-4"><span class="text-saldo-reprogramado">Ajuste no saldo do extrato</span></strong>
                          <br>
                          <span class="font-12 ml-4">R$ {{ ajuste_conta.saldo_extrato|formata_valor }}</span>
                      </div>
                    {% endif %}
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
      {% endfor %}

    </article>
  {% endif %}

  {% comment %} Tabela Acertos em Lançamentos {% endcomment %}
  {% include "./tabela-acertos-em-lancamentos.html" with dados=dados %}

  {% comment %} Tabela Acertos em Documentos {% endcomment %}
  {% include "./tabela-acertos-em-documentos.html" with dados=dados %}

  {% if dados.versao_devolucao != "Rascunho" %}
    <article class="mt-4">
      <table class="table table-bordered tabela-resumo-por-acao">
        <thead class="">
          <tr class="">
            <th colSpan="1">
              <strong class="font-16 titulo-bloco ml-2">{{ dados.blocos.responsavel_analise }}</strong>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="row pb-4">
                <div class="col-6">
                  <p class="pt-2 mb-0 ml-2 pb-0 mt-4 border-bottom font-12">{{ dados.dados_tecnico.responsavel }}</p>
                  <span class="mt-2 ml-2 mb-2 font-12"><strong>Nome do responsável</strong></span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
  {% endif %}

</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>
