<!doctype html>
<html lang="pt-br">
{% load staticfiles %}
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link href="{{ base_static_url }}/css/relacao-de-bens-pdf.css" rel="stylesheet">

  <title>Relação de Bens PTRF</title>
</head>
<body>

{# ************************* Cabecalho das páginas *************************  #}
<header>
  <div class="d-flex">
    <div class="col-auto d-flex align-items-center">
      <img src="{{ base_static_url }}/images/logo-color.svg" alt="logo">
    </div>
    <div class="col-auto d-flex align-items-center justify-content-center mr-5 ml-5">
      <p class="mb-0">
        <span class="titulo font-14"><strong>Programa de Transferências de Recuros Financeiros -  PTRF</strong></span><br/>
        <span class="font-12 mb-0"><strong>Prestação de Contas - Modelo B</strong> (Relação de Bens Adquiridos ou Produzidos)</span>
      </p>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
      <p class="mb-0 font-12 borda-box-cabecalho-left px-3 py-3">
        <span>Período de Realização:</span><br/>
        <span><strong>{{ dados.cabecalho.periodo_referencia }} - {{ dados.cabecalho.periodo_data_inicio }} até {{ dados.cabecalho.periodo_data_fim }}</strong></span><br/>
      </p>
      <p class="font-12 mb-0 borda-box-cabecalho-right px-4 py-3">
        <span>Conta:</span><br/>
        <span><strong>{{ dados.cabecalho.conta }}</strong></span>
      </p>
    </div>
  </div>
</header>
{# ************************* Fim Cabecalho das páginas *************************  #}

{# ************************* Rodape ************************* #}
<p id="nome-associacao-rodape">
  <i>APM DA(O) {{ dados.identificacao_apm.nome_unidade }} - {{ dados.data_geracao_documento }}</i>
</p>
{# ************************* Fim Rodape ************************* #}

<section class="conteudo">

  <article id="bloco-1">
    <p class="font-14 border-bottom pb-3"><strong>Bloco 1 - Identificação da Associação da Unidade Educacional</strong>
    </p>
    <div class="col-12 border">
      <div class="row">
        <div class="col-auto">
          <p class="pt-2 mb-0 font-12"><strong>Nome da Associação:</strong></p>
          <p class="font-12">{{ dados.identificacao_apm.nome_associacao }}</p>
        </div>
        <div class="col">
          <p class="pt-2 mb-0 font-12"><strong>CNPJ:</strong></p>
          <p class="font-12">{{ dados.identificacao_apm.cnpj_associacao }}</p>
        </div>
        <div class="col">
          <p class="pt-2 mb-0 font-12"><strong>Código EOL:</strong></p>
          <p class="font-12">{{ dados.identificacao_apm.codigo_eol_associacao }}</p>
        </div>
        <div class="col">
          <p class="pt-2 mb-0 font-12"><strong>Diretoria Regional de Educação:</strong></p>
          <p class="font-12">{{ dados.identificacao_apm.nome_dre_associacao }}</p>
        </div>
      </div>
    </div>
  </article>

  <article id="bloco-2" class="mt-4">
    <p class="font-14 border-bottom pb-3"><strong>Bloco 2 - Identificação dos Bens Adquiridos ou Produzidos</strong></p>
    <table class="table table-bordered tabela-relacao-de-bens">
      <thead class="thead-light">
      <tr>
        <th rowspan="2">&nbsp;</th>
        <th colspan="3" class="text-center"><strong>Documento</strong></th>
        <th rowspan="2"><strong>10. Especificação dos bens</strong></th>
        <th rowspan="2"><strong>11. Nº do processo de incorporação</strong></th>
        <th rowspan="2"><strong>12. Quantidade</strong></th>
        <th colspan="2" class="text-center"><strong>Valor (R$)</strong></th>
      </tr>
      <tr>
        <th class="align-top"><strong>07. Tipo</strong></th>
        <th class="align-top"><strong>08. Número</strong></th>
        <th class="align-top"><strong>09. Data</strong></th>
        <th class="align-top"><strong>13. Unitário</strong></th>
        <th class="align-top"><strong>14. Total</strong></th>
      </tr>
      </thead>
      <tbody>
      {% for bens in dados.relacao_de_bens_adquiridos_ou_produzidos.linhas %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ bens.tipo_documento }}</td>
          <td>{{ bens.numero_documento }}</td>
          <td>{{ bens.data_documento }}</td>
          <td>{{ bens.especificacao_material }}</td>
          <td>{{ bens.numero_documento_incorporacao }}</td>
          <td>{{ bens.quantidade }}</td>
          <td>{{ bens.valor_item }}</td>
          <td>{{ bens.valor_rateio }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td class="total sem-borda" style="border-right: 1px solid #F5F6F8; !important;"><strong>Total</strong></td>
        <td class="total sem-borda" colspan="7" style="border-right: 1px solid #F5F6F8; !important;"></td>
        <td class="total sem-borda" style="border: none !important;border-left: 1px solid #F5F6F8; !important;">
          <strong>{{ dados.relacao_de_bens_adquiridos_ou_produzidos.valor_total }}</strong>
        </td>
      </tr>
      </tbody>
    </table>
  </article>

  <article id="bloco-3" class="mt-4">
    <p class="font-14 border-bottom pb-3"><strong>Bloco 3 - Autenticação</strong>
    </p>
    <div class="col-12 border mt-4">
      <p class="pt-2">Declaro, sob as penas de Lei, que os bens acima relacionados, adquiridos com recursos do PTRF
        foram doados à Prefeitura do município de São Paulo/ Secretaria Municipal de Educação para serem incorporados ao
        patrimônio público e destinados à
        (ao) {{ dados.identificacao_apm.tipo_unidade }} {{ dados.identificacao_apm.nome_unidade }}, responsável por sua
        guarda e conservação.</p>
      <p>Data: <strong class="data-geracao">{{ dados.data_geracao }}</strong></p>
    </div>
    <div class="col-12 border-right border-left border-bottom pt-5 pb-3">
      <div class="row">
        <div class="col">
          <p class="mb-0 text-center">
            _________________________________________________________________________________________________________________________________________________________________________</p>
          <p class="font-12 text-center mb-0">Assinatura do {{ dados.identificacao_apm.cargo_substituto_presidente_ausente }} da Associação</p>
          <p class="text-center pb-2"><strong>{{ dados.identificacao_apm.presidente_diretoria_executiva }}</strong></p>
        </div>
      </div>
    </div>
  </article>

</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
