@charset "UTF-8";

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  src: url(../fonts/Roboto-Italic.ttf);
}

@page {
  size: A4;
  padding: 1cm 0 1cm 0;
  margin: 2cm 1cm 1cm 3cm;
  @top-center {
    content: element(cabecalho);
  }

  @bottom-right {
    color: black;
    content: counter(page) "/" counter(pages);
    font-size: 8pt;
    padding: 0 1cm;
    margin: -2mm -9mm 0 0;
    font-weight: bold;
    font-style: italic;
  }

  @bottom-left {
    color: black;
    content: element(nome-associacao);
    font-size: 9pt;
    margin: 0 0 0 -2cm;
    font-style: normal;
  }
}

@media print {
  body,
  page {
    margin: 0;
  }
}

body {
  font-family: Roboto;
  font-style: normal;
}

html {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

header {
  position: running(cabecalho);
  background: #eeeeee;
  width: 215mm;
  padding: 1cm 1.5cm 0.5cm 0.5cm;
  margin: 0;
}

#nome-associacao-rodape {
  position: running(nome-associacao);
  font-style: normal;
}

.font-10 {
  font-size: 10px;
  font-family: Roboto, serif;
  font-style: normal;
}

.font-18 {
  font-size: 18px;
  font-family: Roboto, serif;
  font-style: normal;
}

.font-16 {
  font-size: 16px;
  font-family: Roboto, serif;
  font-style: normal;
}

.font-14 {
  font-size: 14px;
  font-family: Roboto, serif;
  font-style: normal;
}

.font-12 {
  font-size: 12px;
  font-family: Roboto, serif;
  font-style: normal;
}

.font-11 {
  font-size: 10px;
  font-family: Roboto, serif;
  font-style: normal;
}

.font-08 {
  font-size: 8px;
  font-family: Roboto, serif;
  font-style: normal;
}

.conteudo {
  width: 74%;
  margin-left: -2.2cm; /* ajusta um pouco para compensar o aumento da largura */
  margin-right: 0;
  font-family: Roboto, serif;
  font-style: normal;
}

table {
  font-weight: normal;
}

.new-page {
  page-break-before: always;
}

.light-grey-box {
  border: 1px solid #dadada;
}

table {
  border: 1px solid #dadada;
}

th {
  padding: 12px 0px 12px 12px;
  text-align: left;
  background-color: #f6f8f9;
  border: 1px solid #dadada;
}

td {
  border: 1px solid #dadada;
  text-align: left;
  padding: 8px;
  height: 50px;
}

.border-end {
  border-right: 1px solid #c0c3c6;
}
