#POSTGRES
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

#PG ADMIN
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

#REDIS
REDIS_LOCATION=
REDIS_URL=
SENTRY=
SENTRY_URL=
SERVER_NAME=

DJANGO_SECRET_KEY=
USE_DOCKER=

DJANGO_SETTINGS_MODULE=config.settings.production

AUTENTICA_CORESSO_API_TOKEN=
AUTENTICA_CORESSO_API_URL=

#Integração com Elastic APM
ELASTIC_APM_SERVICE_NAME=SIG_ESCOLA_API
ELASTIC_APM_SECRET_TOKEN=
ELASTIC_APM_DEBUG=True
ELASTIC_APM_SERVER_URL=
ELASTIC_APM_ENVIRONMENT=
