{% load mathfilters %}
{% load formata_valores %}
{% load i18n %}

<!doctype html>
<html lang="pt-br">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="{{ base_static_url }}/css/bootstrap/bootstrap-4.6.0.min.css" rel="stylesheet">
  <link href="{{ base_static_url }}/css/ata-paa-pdf.css" rel="stylesheet">

  <title>{{ dados.dados_da_ata.nome }}</title>

  <style>
    .border {
        border: none !important;
    }
    .border-bottom {
        border-bottom: none !important;
    }
  </style>
</head>
<body>

{# ************************* Cabecalho das páginas *************************  #}
<header>
  <div class="d-flex w-100 mx-auto">
    <div class="d-flex align-items-center border-rigth-logo" style="padding: 0 10px;">
      <img src="{{ base_static_url }}/images/logo_PrefSP_sem_fundo_horizontal_colorida.svg" alt="logo">
    </div>

    <div class="col d-flex align-items-center justify-content-start ml-3">
      <p class="mb-0 bottom-left">
        <span class="titulo font-14"><strong>{{ dados.cabecalho.titulo }}</strong></span><br/>
        <span class="font-12 mb-0">
          <strong>
            {{ dados.cabecalho.subtitulo }}
            {%if dados.is_retificacao %}
              / Retificação {% firstof dados.versao_retificacao '' %}
            {% endif %}
          </strong>
        </span>
      </p>
    </div>

    <div class="d-flex align-items-center justify-content-end">
      <p class="mb-0 font-12 border px-3 py-2 text-right">
        <span>Período de execução:</span><br/>
        <span><strong>{{ dados.cabecalho.periodo_data_inicio }} até {{ dados.cabecalho.periodo_data_fim }}</strong></span><br/>
      </p>
    </div>
  </div>
</header>


{# ************************* Fim Cabecalho das páginas *************************  #}

{# ************************* Rodape ************************* #}
<p id="nome-associacao-rodape" class="font-10">
  <i>{{ dados.dados_texto_da_ata.unidade_tipo }} {{ dados.dados_texto_da_ata.unidade_nome }} -
    Documento final gerado pelo usuário {{ dados.dados_texto_da_ata.usuario }}, via SIG-Escola, em: {% now "j/m/Y H:i:s" %}</i>
</p>
{# ************************* Fim Rodape ************************* #}

<section class="conteudo">

  {# Titulo #}
  <section class="row">
    <article class="col border p-0">
        <div class="col-12">
        <p class="font-12 texto-justificado pb-2 mb-0">
            <strong class="p-0">{{ dados.titulo_introducao }}</strong>
        </p>
        </div>
    </article>
  </section>

  {# Bloco 2 - Introdução #}
  {% include "./partials/bloco-introducao.html" %}

  {# Bloco de Prioridades PTRF #}
  {% for grupo in dados.prioridades %}
    {% if grupo.key == "prioridades_ptrf" and grupo.items|length > 0 %}
      {% if not dados.is_retificacao or dados.retificado_prioridades_ptrf %}
        <section class="row mt-4">
          <article class="col mb-3 border p-0">
            <div class="col-12">
              <p class="font-14 pt-1 pb-1 border-bottom mb-0">
                <strong>{{ grupo.titulo }}</strong>
                {% if dados.is_retificacao and dados.etiqueta_retificacao %}<span class="tag-retificacao">{{ dados.etiqueta_retificacao }}</span>{% endif %}
              </p>
              {% include "./partials/tabela-prioridades.html" %}
            </div>
          </article>
        </section>
      {% endif %}
    {% endif %}
  {% endfor %}

  {# Bloco de Prioridades PDDE #}
  {% for grupo in dados.prioridades %}
    {% if grupo.key == "prioridades_pdde" and grupo.items|length > 0 %}
      {% if not dados.is_retificacao or dados.retificado_prioridades_pdde %}
        <section class="row mt-4">
          <article class="col mb-3 border p-0">
            <div class="col-12">
            <p class="font-14 pt-1 pb-1 border-bottom mb-0">
              <strong>{{ grupo.titulo }}</strong>
              {% if dados.is_retificacao and dados.etiqueta_retificacao %}<span class="tag-retificacao">{{ dados.etiqueta_retificacao }}</span>{% endif %}
            </p>
            {% include "./partials/tabela-prioridades.html" %}
            </div>
          </article>
        </section>
      {% endif %}
    {% endif %}
  {% endfor %}

  {# Bloco de Prioridades Outros Recursos #}
  {% for grupo in dados.prioridades %}
    {% if grupo.key == "prioridades_outros_recursos" and grupo.items|length > 0 %}
      {% if not dados.is_retificacao or dados.retificado_prioridades_outros %}
        <section class="row mt-4">
          <article class="col mb-3 border p-0">
            <div class="col-12">
              <p class="font-14 pt-1 pb-1 border-bottom mb-0">
                <strong>{{ grupo.titulo }}</strong>
                {% if dados.is_retificacao and dados.etiqueta_retificacao %}<span class="tag-retificacao">{{ dados.etiqueta_retificacao }}</span>{% endif %}
              </p>
              {% include "./partials/tabela-prioridades.html" %}
            </div>
          </article>
        </section>
      {% endif %}
    {% endif %}
  {% endfor %}

  {# Bloco de Atividades Estatutárias #}
  {% if not dados.is_retificacao or dados.retificado_atividades_estatutarias %}
    {% include "./partials/bloco-atividades-estatutarias.html" with numero_bloco=dados.numeros_blocos.atividades_estatutarias %}
  {% endif %}

  {# Bloco Justificativa da retificação #}
  {% if dados.is_retificacao and dados.dados_texto_da_ata.justificativa_retificacao %}
    {% include "./partials/bloco-justificativa_retificacao.html" with numero_bloco=dados.numeros_blocos.justificativa_retificacao %}
  {% endif %}

  {# Bloco de Manifestações #}
  {% include "./partials/bloco-manifestacoes.html" with numero_bloco=dados.numeros_blocos.manifestacoes %}

  {# Bloco de Parecer do Conselho #}
  {% include "./partials/bloco-parecer-conselho.html" with numero_bloco=dados.numeros_blocos.parecer_conselho %}

  {# Bloco de Lista de Presença #}
  {% include "./partials/bloco-lista-presenca.html" with numero_bloco=dados.numeros_blocos.lista_presenca %}

</section>

</body>
</html>
