<!doctype html>
<html lang="en">
{% load staticfiles %}
{% load formata_valores %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link href="{{ base_static_url }}/css/pdf-demo-financeiro-horizontal.css" rel="stylesheet">

  <title>Demonstrativo Financeiro PTRF</title>
</head>
<body>

{# ************************* Cabecalho das páginas *************************  #}
<header>
  <div class="d-flex">
    <div class="col-auto d-flex align-items-center">
      <img src="{{ base_static_url }}/images/logo-color.svg" alt="logo">
    </div>
    <div class="col-auto d-flex align-items-center justify-content-center mr-5 ml-5">
      <p class="mb-0">
        <span
          class="titulo font-14"><strong>Programa de Transferência de Recursos Financeiros -  PTRF</strong></span><br/>
        <span class="font-12 mb-0"><strong>Prestação de Contas -</strong> Demonstrativo Financeiro</span>
      </p>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
      <p class="mb-0 font-12 borda-box-cabecalho-left px-3 py-3">
        <span>Período de Realização:</span><br/>
        <span><strong>{{ dados.cabecalho.periodo_referencia }} - {{ dados.cabecalho.periodo_data_inicio }} a {{ dados.cabecalho.periodo_data_fim }}</strong></span><br/>
      </p>
      <p class="font-12 mb-0 borda-box-cabecalho-right px-4 py-3">
        <span>Conta:</span><br/>
        <span><strong>{{ dados.cabecalho.conta }}</strong></span>
      </p>
    </div>
  </div>
</header>
{# ************************* Fim Cabecalho das páginas *************************  #}

{# ************************* Rodape ************************* #}
<p id="nome-associacao-rodape" class="font-10">
  <i>{{ dados.identificacao_apm.tipo_unidade }} {{ dados.identificacao_apm.nome_unidade }}
    - {{ dados.data_geracao_documento }}</i>
</p>
{# ************************* Fim Rodape ************************* #}


<section class="conteudo mt-0">

  <section class="row">

    <article id="bloco-1" class="col">
      <p class="font-14 border-bottom pb-3"><strong>Bloco 1 - Identificação da Associação</strong></p>
      <div class="col-12 border mt-4">
        <div class="row">
          <div class="col-8">
            <p class="pt-2 mb-0"><strong>Nome da Associação:</strong></p>
            <p class="pb-2">{{ dados.identificacao_apm.nome_associacao }}</p>
          </div>
          <div class="col-4">
            <p class="pt-2 mb-0"><strong>CNPJ:</strong></p>
            <p class="pb-2">{{ dados.identificacao_apm.cnpj_associacao }}</p>
          </div>
        </div>

      </div>
      <div class="col-12 border-right border-left border-bottom">
        <div class="row">
          <div class="col-8">
            <p class="pt-2 mb-0"><strong>Diretoria Regional de Educação:</strong></p>
            <p class="pb-2">{{ dados.identificacao_apm.nome_dre_associacao }}</p>
          </div>
          <div class="col">
            <p class="pt-2 mb-0 "><strong>Código EOL da UE/CEU:</strong></p>
            <p class="pb-2">{{ dados.identificacao_apm.codigo_eol_associacao }}</p>
          </div>
        </div>
      </div>
    </article>

    <article id="bloco-2" class="col">
      <p class="font-14 border-bottom pb-3"><strong>Bloco 2 - Identificação Bancária e Saldo</strong></p>
      <div class="col-12 border mt-4">
        <div class="row">
          <div class="col">
            <p class="pt-2 mb-0"><strong>Banco:</strong></p>
            <p class="pb-2">{{ dados.identificacao_conta.banco }}</p>
          </div>
          <div class="col">
            <p class="pt-2 mb-0"><strong>Agência:</strong></p>
            <p class="pb-2">{{ dados.identificacao_conta.agencia }}</p>
          </div>
          <div class="col-auto">
            <p class="pt-2 mb-0"><strong>Conta corrente:</strong></p>
            <p class="pb-2">{{ dados.identificacao_conta.conta }}</p>
          </div>
        </div>
      </div>
      <div class="col-12 border-left border-bottom border-right">
        <div class="row">
          <div class="col">
            <p class="pt-2 mb-0"><strong>Data do extrato:</strong></p>
            <p class="pb-2">{{ dados.identificacao_conta.data_extrato }}</p>
          </div>
          <div class="col">
            <p class="pt-2 mb-0"><strong>Saldo do extrato ao final do período:</strong></p>
            <p class="pb-2">{{ dados.identificacao_conta.saldo_extrato|formata_valor }}</p>
          </div>
        </div>
      </div>
    </article>
  </section>

  <article id="bloco-3" class="mt-0">

    <table class="table table-bordered tabela-resumo-por-acao nao-quebra-linha">
      <thead class="thead-light">
      <tr>
        <th colSpan="20">
          <strong class="font-14">Bloco 3 - Resumo por Ação</strong>
        </th>
      </tr>

      <tr>
        <th rowSpan="2" style="width: 7%"><strong>1. Ação</strong></th>
        <th rowSpan="2" colSpan="2"><strong>2. Saldo reprogramado do período anterior</strong></th>
        <th colSpan="10" class="text-center"><strong>Valores do período</strong></th>
        <th colSpan="7" class="text-center"><strong>Conciliação bancária</strong></th>
      </tr>

      <tr>
        <th colSpan="2" class="align-top">3. Créditos (Bloco 4)</th>
        <th colSpan="2" class="align-top">4. Despesas demonstradas (Bloco 5)</th>
        <th colSpan="2" class="align-top">5. Despesas não demonstradas (Bloco 6)</th>
        <th colSpan="4" class="align-top"><strong>6. Saldo reprogramado para o próximo período (2+3-4-5)*</strong>
        </th>
        <th colSpan="2" class="align-top">7. Despesas não demonstradas de períodos anteriores (Bloco 7)
        </th>
        <th colSpan="5" class="align-top"><strong>8. Saldo ao final do período<br/>(5+6+7)**</strong></th>
      </tr>
      </thead>


      {% for acoes in dados.resumo_por_acao.resumo_acoes %}
        <tbody style="border-top: none !important;">
        <tr>
          <td rowSpan="6"><strong>{{ acoes.acao_associacao }}</strong></td>
          <td rowSpan="2" style="width: 2%; padding: 5px 0 5px 5px">C</td>
          <td rowSpan="2" class="text-right">{{ acoes.linha_custeio.saldo_anterior|formata_valor }}</td>
          <td rowSpan="2">C</td>
          <td rowSpan="2" class="text-right">{{ acoes.linha_custeio.credito|formata_valor }}</td>
          <td rowSpan="3" style="width: 2%">C</td>
          <td rowSpan="3" class="text-right">{{ acoes.linha_custeio.despesa_realizada|formata_valor }}</td>
          <td rowSpan="3" style="width: 2%">C</td>
          <td rowSpan="3" class="text-right">{{ acoes.linha_custeio.despesa_nao_realizada|formata_valor }}</td>
          <td rowSpan="2" style="width: 2%">C</td>
          <td rowSpan="2" class="text-right">{{ acoes.linha_custeio.saldo_reprogramado_proximo|formata_valor }}</td>
          <td rowSpan="6">T<br/>o<br/>t<br/>a<br/>l</td>
          <td rowSpan='6' class="text-right">{{ acoes.total_valores|formata_valor }}</td>
          <td rowSpan="3" style="width: 2%">C</td>
          <td rowSpan="3"
              class="text-right">{{ acoes.linha_custeio.despesa_nao_demostrada_outros_periodos|formata_valor }}</td>
          <td rowSpan="2" style="width: 2%">C</td>
          <td rowSpan="2" class="text-right">{{ acoes.linha_custeio.valor_saldo_bancario_custeio|formata_valor }}</td>
          <td rowSpan="6">T<br/>o<br/>t<br/>a<br/>l</td>
          <td rowSpan='6' style="border-right:none !important; border-left: none !important; "
              class="text-right"> {{ acoes.saldo_bancario|formata_valor }}</td>
        </tr>
        <tr></tr>
        <tr>
          <td rowSpan="2" style="padding: 5px 0 5px 5px"> L</td>
          <td rowSpan="2" class="text-right">{{ acoes.linha_livre.saldo_anterior|formata_valor }}</td>
          <td rowSpan="2">L</td>
          <td rowSpan="2" class="text-right">{{ acoes.linha_livre.credito|formata_valor }}</td>
          <td rowSpan="2">L</td>
          <td rowSpan="2" class="text-right">{{ acoes.linha_livre.saldo_reprogramado_proximo|formata_valor }}</td>
          <td rowSpan="2"> L</td>
          <td rowSpan="2"
              class="text-right">{{ acoes.linha_livre.valor_saldo_reprogramado_proximo_periodo_livre|formata_valor }}</td>
          <td style="display: inline-table; border:none !important;"></td>
        </tr>
        <tr>
          <td rowSpan="3"> K</td>
          <td rowSpan="3" class="text-right">{{ acoes.linha_capital.despesa_realizada|formata_valor }}</td>
          <td rowSpan="3"> K</td>
          <td rowSpan="3" class="text-right">{{ acoes.linha_capital.despesa_nao_realizada|formata_valor }}</td>
          <td rowSpan="3"> K</td>
          <td rowSpan="3"
              class="text-right">{{ acoes.linha_capital.despesa_nao_demostrada_outros_periodos|formata_valor }}</td>
        </tr>
        <tr>
          <td rowSpan="2" style="padding: 0 0 0 5px"> K</td>
          <td rowSpan="2" class="text-right">{{ acoes.linha_capital.saldo_anterior|formata_valor }}</td>
          <td rowSpan="2"> K</td>
          <td rowSpan="2" class="text-right">{{ acoes.linha_capital.credito|formata_valor }}</td>
          <td rowSpan="2"> K</td>
          <td rowSpan="2" class="text-right">{{ acoes.linha_capital.saldo_reprogramado_proximo|formata_valor }}</td>
          <td rowSpan="2"> K</td>
          <td rowSpan="2" class="text-right">{{ acoes.linha_capital.valor_saldo_bancario_capital|formata_valor }}</td>
        </tr>
        </tbody>
      {% endfor %}

      <tbody style="border-top: none !important;">
      <tr>
        <td rowSpan="6" class="total"><strong>TOTAL GERAL***</strong></td>
        <td rowSpan="2" style="width: 2%; padding: 5px 0 5px 5px" class="total">C</td>
        <td rowSpan="2"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.saldo_anterior.C|formata_valor }}</td>

        <td rowSpan="2" class="total">C</td>
        <td rowSpan="2" class="text-right total">{{ dados.resumo_por_acao.total_valores.credito.C|formata_valor }}</td>

        <td rowSpan="3" class="total" style="width: 2%">C</td>
        <td rowSpan="3"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.despesa_realizada.C|formata_valor }}</td>

        <td rowSpan="3" class="total" style="width: 2%">C</td>
        <td rowSpan="3"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.despesa_nao_realizada.C|formata_valor }}</td>

        <td rowSpan="2" class="total" style="width: 2%">C</td>
        <td rowSpan="2"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.saldo_reprogramado_proximo.C|formata_valor }}</td>

        <td rowSpan="6" class="total">T<br/>o<br/>t<br/>a<br/>l</td>

        <td rowSpan='6'
            class="text-right total">{{ dados.resumo_por_acao.total_valores.total_valores|formata_valor }}</td>

        <td rowSpan="3" class="total" style="width: 2%">C</td>
        <td rowSpan="3"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.despesa_nao_demostrada_outros_periodos.C|formata_valor }}</td>

        <td rowSpan="2" class="total" style="width: 2%">C</td>
        <td rowSpan="2"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.valor_saldo_bancario.C|formata_valor }}</td>

        <td rowSpan="6" class="total">T<br/>o<br/>t<br/>a<br/>l</td>

        <td rowSpan='6' style="border:none !important;"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.saldo_bancario|formata_valor }}</td>
      </tr>
      <tr></tr>
      <tr>
        <td rowSpan="2" class="total" style="padding: 5px 0 5px 5px"> L</td>
        <td rowSpan="2"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.saldo_anterior.L|formata_valor }}</td>

        <td rowSpan="2" class="total">L</td>
        <td rowSpan="2" class="text-right total">{{ dados.resumo_por_acao.total_valores.credito.L|formata_valor }}</td>

        <td rowSpan="2" class="total">L</td>
        <td rowSpan="2"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.saldo_reprogramado_proximo.L|formata_valor }}</td>

        <td rowSpan="2" class="total">L</td>
        <td rowSpan="2"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.saldo_reprogramado_proximo.L|formata_valor }}</td>

        <td style="display: inline-table; border:none !important;" class="total"></td>
      </tr>
      <tr>
        <td rowSpan="3" class="total">K</td>
        <td rowSpan="3"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.despesa_realizada.K|formata_valor }}</td>

        <td rowSpan="3" class="total">K</td>
        <td rowSpan="3"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.despesa_nao_realizada.K|formata_valor }}</td>

        <td rowSpan="3" class="total">K</td>
        <td rowSpan="3"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.despesa_nao_demostrada_outros_periodos.K|formata_valor }}</td>
      </tr>
      <tr>
        <td rowSpan="2" class="total" style="padding: 0 0 0 5px">K</td>
        <td rowSpan="2"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.saldo_anterior.K|formata_valor }}</td>

        <td rowSpan="2" class="total">K</td>
        <td rowSpan="2" class="text-right total">{{ dados.resumo_por_acao.total_valores.credito.K|formata_valor }}</td>

        <td rowSpan="2" class="total">K</td>
        <td rowSpan="2"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.saldo_reprogramado_proximo.K|formata_valor }}</td>

        <td rowSpan="2" class="total">K</td>
        <td rowSpan="2"
            class="text-right total">{{ dados.resumo_por_acao.total_valores.valor_saldo_bancario.K|formata_valor }}</td>
      </tr>
      </tbody>
    </table>

    <p class="font-10">
      <i>Legenda: C=Custeio K=Capital e L=Livre aplicação</i>
    </p>

    <p class="font-10">
      <i>Notas explicativas:
        <br> * Saldo Reprogramado (Campo 6) = Saldo reprogramado do período anterior (2) +
        Créditos (3) - Despesas demonstradas (4) - Despesas não demonstradas do período (5). Quando o valor de
        custeio e/ou capital forem menores que zero, as despesas são deduzidas do saldo de Livre Aplicação.
        <br>** Saldo ao final do período (Campo 8) = Despesas não demonstradas do período (5) + Saldo reprogramado para
        o próximo
        período (6) + Despesas não demonstradas de períodos anteriores (7).
        <br>*** Total geral: soma de cada coluna considerando o tipo de aplicação do recurso correspondente (C, L e K).
      </i>
    </p>
  </article>

  <article id="bloco-4" class="mt-4">
    <table class="table table-bordered tabela-resumo-por-acao tabela-quebra-palavra tabela-bloco-4">
      <thead class="thead-light">
      <tr>
        <th colspan="5">
          <strong class="font-14">Bloco 4 - Créditos</strong>
        </th>
      </tr>
      <tr>
        <th><strong>9. Tipo de crédito</strong></th>
        <th><strong>10. Detalhamento</strong></th>
        <th><strong>11. Ação do Programa</strong></th>
        <th><strong>12. Data</strong></th>
        <th><strong>13. Valor</strong></th>
      </tr>
      </thead>
      <tbody>
      {% for receita in dados.creditos_demonstrados.linhas %}
        <tr>
          <td>{{ receita.tipo_receita }}</td>
          <td>{{ receita.detalhamento }}</td>
          <td>{{ receita.nome_acao }}</td>
          <td>{{ receita.data }}</td>
          <td class="text-right">{{ receita.valor|formata_valor }}</td>
        </tr>

        {% if receita.estorno %}

          {% if receita.estorno.numero_documento_despesa %}
            <tr>
              <td colspan="5">
                <p class="texto-estorno mb-1">Este estorno está vinculado à despesa de número {{ receita.estorno.numero_documento_despesa }},
                  de {{ receita.estorno.data_estorno }}</p>
                {# Incluindo linha com motivos de estorno, passando dados como parametro #}
                {% include "./partials/linha-com-motivos-estornos.html" with receita=receita %}
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="5">
                <p class="texto-estorno mb-1">Este estorno está vinculado à despesa de {{ receita.estorno.data_estorno }}</p>
                {# Incluindo linha com motivos de estorno, passando dados como parametro #}
                {% include "./partials/linha-com-motivos-estornos.html" with receita=receita %}
              </td>
            </tr>
          {% endif %}

        {% endif %}



      {% endfor %}
      <tr>
        <td class="total sem-borda" style="border-right: 1px solid #F5F6F8; !important;"><strong>Total</strong></td>
        <td class="total sem-borda" colspan="3" style="border-right: 1px solid #F5F6F8; !important;"></td>
        <td class="total sem-borda" style="border: none !important;border-left: 1px solid #F5F6F8; !important;">
          <strong>{{ dados.creditos_demonstrados.valor_total|formata_valor }}</strong></td>
      </tr>
      </tbody>
    </table>
  </article>

  <article id="bloco-5" class="mt-4">
    <table class="table table-bordered tabela-resumo-por-acao tabela-quebra-palavra">
      <thead class="thead-light">
      <tr>
        <th colspan="11">
          <strong class="font-14">Bloco 5 - Despesas Demonstradas</strong>
        </th>
      </tr>
      <tr>
        <th colspan="5"><strong>Dados do documento</strong></th>
        <th colspan="3"><strong>Classificação da despesa</strong></th>
        <th colspan="3"><strong>Dados do pagamento</strong></th>
      </tr>
      <tr>
        <th style="width:15%"><strong>14. Razão social</strong></th>
        <th><strong>15. CNPJ ou CPF</strong></th>
        <th style="width:7%"><strong>16. Tipo de documento</strong></th>
        <th style="width:8%"><strong>17. Número do documento</strong></th>
        <th style="width:7%"><strong>18. Data do documento</strong></th>
        <th style="width:7%"><strong>19. Ação do Programa</strong></th>
        <th style="width:20%"><strong>20. Especificação do material ou serviço</strong></th>
        <th style="width:7%"><strong>21. Tipo de despesa</strong></th>
        <th style="width:8%"><strong>22. Forma de pagamento</strong></th>
        <th style="width:7%"><strong>23. Data do pagamento</strong></th>
        <th><strong>24. Valor</strong></th>
      </tr>
      </thead>
      <tbody>
      {% for despesa in dados.despesas_demonstradas.linhas %}
        <tr>
          <td>{{ despesa.razao_social }}</td>
          <td>{{ despesa.cnpj_cpf }}</td>
          <td>{{ despesa.tipo_documento }}</td>
          <td>{{ despesa.numero_documento }}</td>
          <td>{{ despesa.data_documento }}</td>
          <td>{{ despesa.nome_acao_documento }}</td>
          <td>{{ despesa.especificacao_material }}</td>
          <td>{{ despesa.tipo_despesa }}</td>
          <td>{{ despesa.tipo_transacao }}</td>
          <td>{{ despesa.data_transacao }}</td>
          <td class="text-right">{{ despesa.valor|formata_valor }}</td>
        </tr>

        {% if despesa.despesas_impostos|length == 1  %}
          <tr>
            <td colspan="11" class="texto-imposto">
              Esse gasto teve retenção de imposto:
              R$ {{ despesa.despesas_impostos.0.valor }}, {{ despesa.despesas_impostos.0.info_pagamento }}.
            </td>
          </tr>
        {% elif despesa.despesas_impostos|length >= 2  %}
          <tr>
            <td colspan="11" class="texto-imposto">
              Esse gasto teve retenções de impostos:
              {% for despesa_imposto in despesa.despesas_impostos %}
                <p class="detalhe-linha-tabela">
                  R$ {{ despesa_imposto.valor|formata_valor }}, {{ despesa_imposto.info_pagamento }}.
                </p>
              {% endfor %}
            </td>
          </tr>
        {% endif %}

        {% if despesa.despesa_geradora %}
          <tr>
            <td colspan="11" class="texto-imposto">
              <strong>Imposto retido:</strong> Esse gasto refere-se à retenção de imposto da nota
              {{ despesa.despesa_geradora.numero_documento }}
              de {{ despesa.despesa_geradora.data_transacao }} e valor
              R$ {{ despesa.despesa_geradora.valor|formata_valor }}.
            </td>
          </tr>
        {% endif %}

      {% endfor %}
      <tr>
        <td class="total sem-borda" style="border-right: 1px solid #F5F6F8; !important;"><strong>Total</strong></td>
        <td class="total sem-borda" colspan="9" style="border-right: 1px solid #F5F6F8; !important;"></td>
        <td class="total sem-borda" style="border: none !important;border-left: 1px solid #F5F6F8; !important;">
          <strong>{{ dados.despesas_demonstradas.valor_total|formata_valor }}</strong></td>
      </tr>
      </tbody>
    </table>
  </article>

  <article id="bloco-6" class="mt-4">
    <table class="table table-bordered tabela-resumo-por-acao tabela-quebra-palavra">
      <thead class="thead-light">
      <tr>
        <th colspan="11">
          <strong class="font-14">Bloco 6 - Despesas não demonstradas</strong>
        </th>
      </tr>
      <tr>
        <th colspan="5"><strong>Dados do documento</strong></th>
        <th colspan="3"><strong>Classificação da despesa</strong></th>
        <th colspan="3"><strong>Dados do pagamento</strong></th>
      </tr>
      <tr>
        <th style="width:15%"><strong>25. Razão social</strong></th>
        <th><strong>26. CNPJ ou CPF</strong></th>
        <th style="width:7%"><strong>27. Tipo de documento</strong></th>
        <th style="width:8%"><strong>28. Número do documento</strong></th>
        <th style="width:7%"><strong>29. Data do documento</strong></th>
        <th style="width:7%"><strong>30. Ação do Programa</strong></th>
        <th style="width:20%"><strong>31. Especificação do material ou serviço</strong></th>
        <th style="width:7%"><strong>32. Tipo de despesa</strong></th>
        <th style="width:8%"><strong>33. Forma de pagamento</strong></th>
        <th style="width:7%"><strong>34. Data do pagamento</strong></th>
        <th><strong>35. Valor</strong></th>
      </tr>
      </thead>
      <tbody>
      {% for despesa in dados.despesas_nao_demonstradas.linhas %}
        <tr>
          <td>{{ despesa.razao_social }}</td>
          <td>{{ despesa.cnpj_cpf }}</td>
          <td>{{ despesa.tipo_documento }}</td>
          <td style="word-break:break-all;" class="text-break">{{ despesa.numero_documento }}</td>
          <td>{{ despesa.data_documento }}</td>
          <td>{{ despesa.nome_acao_documento }}</td>
          <td>{{ despesa.especificacao_material }}</td>
          <td>{{ despesa.tipo_despesa }}</td>
          <td>{{ despesa.tipo_transacao }}</td>
          <td>{{ despesa.data_transacao }}</td>
          <td class="text-right">{{ despesa.valor|formata_valor }}</td>
        </tr>

        {% if despesa.despesas_impostos|length == 1  %}
          <tr>
            <td colspan="11" class="texto-imposto">
              Esse gasto teve retenção de imposto:
              R$ {{ despesa.despesas_impostos.0.valor }}, {{ despesa.despesas_impostos.0.info_pagamento }}.
            </td>
          </tr>
        {% elif despesa.despesas_impostos|length >= 2  %}
          <tr>
            <td colspan="11" class="texto-imposto">
              Esse gasto teve retenções de impostos:
              {% for despesa_imposto in despesa.despesas_impostos %}
                <p class="detalhe-linha-tabela">
                  R$ {{ despesa_imposto.valor|formata_valor }}, {{ despesa_imposto.info_pagamento }}.
                </p>
              {% endfor %}
            </td>
          </tr>
        {% endif %}

        {% if despesa.despesa_geradora %}
          <tr>
            <td colspan="11" class="texto-imposto">
              <strong>Imposto retido:</strong> Esse gasto refere-se à retenção de imposto da nota
              {{ despesa.despesa_geradora.numero_documento }}
              de {{ despesa.despesa_geradora.data_transacao }} e valor
              R$ {{ despesa.despesa_geradora.valor|formata_valor }}.
            </td>
          </tr>
        {% endif %}

      {% endfor %}
      <tr>
        <td class="total sem-borda" style="border-right: 1px solid #F5F6F8; !important;"><strong>Total</strong></td>
        <td class="total sem-borda" colspan="9" style="border-right: 1px solid #F5F6F8; !important;"></td>
        <td class="total sem-borda" style="border: none !important;border-left: 1px solid #F5F6F8; !important;">
          <strong>{{ dados.despesas_nao_demonstradas.valor_total|formata_valor }}</strong></td>
      </tr>
      </tbody>
    </table>
  </article>

  <article id="bloco-7" class="mt-4">
    <table class="table table-bordered tabela-resumo-por-acao tabela-quebra-palavra">
      <thead class="thead-light">
      <tr>
        <th colspan="11">
          <strong class="font-14">Bloco 7 - Despesas não demonstradas de períodos anteriores</strong>
        </th>
      </tr>
      <tr>
        <th colspan="5"><strong>Dados do documento</strong></th>
        <th colspan="3"><strong>Classificação da despesa</strong></th>
        <th colspan="3"><strong>Dados do pagamento</strong></th>
      </tr>
      <tr>
        <th style="width:15%"><strong>36. Razão social</strong></th>
        <th><strong>37. CNPJ ou CPF</strong></th>
        <th style="width:7%"><strong>38. Tipo de documento</strong></th>
        <th style="width:8%"><strong>39. Número do documento</strong></th>
        <th style="width:7%"><strong>40. Data do documento</strong></th>
        <th style="width:7%"><strong>41. Ação do Programa</strong></th>
        <th style="width:20%"><strong>42. Especificação do material ou serviço</strong></th>
        <th style="width:7%"><strong>43. Tipo de despesa</strong></th>
        <th style="width:8%"><strong>44. Forma de pagamento</strong></th>
        <th style="width:7%"><strong>45. Data do pagamento</strong></th>
        <th><strong>46. Valor</strong></th>
      </tr>
      </thead>
      <tbody>
      {% for despesa in dados.despesas_anteriores_nao_demonstradas.linhas %}
        <tr>
          <td>{{ despesa.razao_social }}</td>
          <td>{{ despesa.cnpj_cpf }}</td>
          <td>{{ despesa.tipo_documento }}</td>
          <td style="word-break:break-all;">{{ despesa.numero_documento }}</td>
          <td>{{ despesa.data_documento }}</td>
          <td>{{ despesa.nome_acao_documento }}</td>
          <td>{{ despesa.especificacao_material }}</td>
          <td>{{ despesa.tipo_despesa }}</td>
          <td>{{ despesa.tipo_transacao }}</td>
          <td>{{ despesa.data_transacao }}</td>
          <td class="text-right">{{ despesa.valor|formata_valor }}</td>
        </tr>

        {% if despesa.despesas_impostos|length == 1  %}
          <tr>
            <td colspan="11" class="texto-imposto">
              Esse gasto teve retenção de imposto:
              R$ {{ despesa.despesas_impostos.0.valor }}, {{ despesa.despesas_impostos.0.info_pagamento }}.
            </td>
          </tr>
        {% elif despesa.despesas_impostos|length >= 2  %}
          <tr>
            <td colspan="11" class="texto-imposto">
              Esse gasto teve retenções de impostos:
              {% for despesa_imposto in despesa.despesas_impostos %}
                <p class="detalhe-linha-tabela">
                  R$ {{ despesa_imposto.valor|formata_valor }}, {{ despesa_imposto.info_pagamento }}.
                </p>
              {% endfor %}
            </td>
          </tr>
        {% endif %}

        {% if despesa.despesa_geradora %}
          <tr>
            <td colspan="11" class="texto-imposto">
              <strong>Imposto retido:</strong> Esse gasto refere-se à retenção de imposto da nota
              {{ despesa.despesa_geradora.numero_documento }}
              de {{ despesa.despesa_geradora.data_transacao }} e valor
              R$ {{ despesa.despesa_geradora.valor|formata_valor }}.
            </td>
          </tr>
        {% endif %}
      {% endfor %}
      <tr>
        <td class="total sem-borda" style="border-right: 1px solid #F5F6F8; !important;"><strong>Total</strong></td>
        <td class="total sem-borda" colspan="9" style="border-right: 1px solid #F5F6F8; !important;"></td>
        <td class="total sem-borda" style="border: none !important;border-left: 1px solid #F5F6F8; !important;">
          <strong>{{ dados.despesas_anteriores_nao_demonstradas.valor_total|formata_valor }}</strong></td>
      </tr>
      </tbody>
    </table>
  </article>


  <article id="bloco-8" class="mt-4">
    <p class="font-14 border-bottom pb-3"><strong>Bloco 8 - Justificativas e informações adicionais</strong></p>
    <div class="col-12 border mt-4 container-texto-justificativas">
      <p class="pt-2 mb-1">{{ dados.justificativas }}</p>
    </div>
  </article>

  <article id="bloco-9" class="mt-4">
    <p class="font-14 border-bottom pb-3"><strong>Bloco 9 - Assinatura dos Responsáveis pela Prestação de
      Contas</strong></p>
    <div class="col-12 border mt-4">
      <div class="row">
        <div class="col d-flex align-items-center justify-content-start">
          <p class="pt-2 pb-2 mb-1">Declaramos, sob as penas da lei, que as informações prestadas são verdadeiras.</p>
        </div>
        <div class="col d-flex align-items-center justify-content-end">
          <p class="pt-2 pb-2 mb-1">Data: <strong>{{ dados.data_geracao }}</strong></p>
        </div>
      </div>


    </div>
    <div class="col-12 border-right border-left border-bottom">
      <div class="row pt-5">
        <div class="col mr-2 ml-0 pt-5">
          <p class="mb-0 text-center">
            __________________________________________________________________________________</p>
          <p class="font-12 text-center mb-0">Assinatura
            do {{ dados.identificacao_apm.cargo_substituto_presidente_ausente }} da Associação</p>
          <p class="text-center"><strong>{{ dados.identificacao_apm.presidente_diretoria_executiva }}</strong></p>
        </div>
        <div class="col ml-2 mr-0 pt-5">
          <p class="mb-0 text-center">
            __________________________________________________________________________________</p>
          <p class="font-12 text-center mb-0">Assinatura do Presidente do Conselho Fiscal da Associação</p>
          <p class="text-center"><strong>{{ dados.identificacao_apm.presidente_conselho_fiscal }}</strong></p>
        </div>
      </div>
    </div>
  </article>

</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>
</html>
