{% load static %}
{% load formata_valores %}

{% if dados.aprovadas_ressalva.contas %}
  {% for dados in dados.aprovadas_ressalva.contas %}
    <table class="table table-bordered tabela-status-pc">
        <thead>
            <tr>
                <th scope="col" style="width: 3%">Ordem</th>
                <th scope="col" style="width: 35%">Unidade educacional</th>
                <th scope="col" style="width: 25%">Motivos</th>
                <th scope="col" style="width: 25%">Recomendações</th>
            </tr>
        </thead>

      {% for info in dados.info %}
        <tbody>
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ info.unidade.codigo_eol}} - {{ info.unidade.tipo_unidade}} {{ info.unidade.nome}}</td>
          <td>
            {% if info.motivos_aprovada_ressalva %}
              {% for motivo in info.motivos_aprovada_ressalva %}
                <p class="mb-0">{{motivo}}</p>
              {% endfor %}
            {% else %}
              <p class="mb-0">Não existem motivos cadastrados</p>
            {% endif %}
          </td>
          <td>{{info.recomendacoes}}</td>
        </tr>
        </tbody>
      {% endfor %}
    </table>
  {% endfor %}
{% else %}
  <p class="font-12">Nenhuma prestação de contas aprovada com ressalvas</p>
{% endif %}
