{% load staticfiles %}
{% load formata_valores %}

{% if dados.reprovadas.contas %}

  {% for dados in dados.reprovadas.contas %}
    <p class="font-12 border-bottom pb-1 texto-verde"><strong>Conta {{ dados.nome }}</strong></p>

    <table class="table table-bordered tabela-status-pc">
      <thead>
          <tr>
              <th scope="col" style="width: 3%">Ordem</th>
              <th scope="col" style="width: 35%">Unidade educacional</th>
              <th scope="col" style="width: 50%">Motivos</th>
          </tr>
      </thead>

      {% for info in dados.info %}
        <tbody>
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ info.unidade.codigo_eol }} - {{ info.unidade.tipo_unidade }} {{ info.unidade.nome }}</td>
            <td>
            {% if info.motivos_reprovacao %}
              {% for motivo in info.motivos_reprovacao %}
                <p class="mb-0">{{motivo}}</p>
              {% endfor %}
            {% else %}
              <p class="mb-0">Não existem motivos cadastrados</p>
            {% endif %}
          </td>
        </tr>
        </tbody>

      {% endfor %}
    </table>
  {% endfor %}
{% else %}
  <p class="font-12">Nenhuma prestação de contas reprovada</p>
{% endif %}
