{% load staticfiles %}
{% load formata_valores %}

{% if dados.reprovadas.info %}
  {% for dados in dados.reprovadas.info %}
    <table class="table table-bordered tabela-status-pc">
      <thead>
      <tr>
        <th scope="col" style="width: 2%; ">Ordem</th>
        <th scope="col" style="width: 25%; ">Unidade educacional</th>
        <th scope="col">Motivo(s)</th>
      </tr>
      </thead>


        <tbody>
        <tr>
          <td rowSpan="4">{{ forloop.counter }}</td>
          <td rowSpan="3">
            <strong>{{ dados.unidade.codigo_eol }}- {{ dados.unidade.tipo_unidade }} {{ dados.unidade.nome }}</strong></td>
          <td>
            <strong>Motivo(s):</strong>
            {% if dados.motivos_reprovacao %}
              {% for motivo in dados.motivos_reprovacao %}
                <span> {{ motivo }}, </span>
              {% endfor %}
            {% else %}
              <span>Não existem motivos cadastrados</span>
            {% endif %}
          </td>
        </tr>
        </tbody>

    </table>
  {% endfor %}
{% else %}
  <p>Nenhuma associação reprovada</p>
{% endif %}
