{% load static %}
{% load formata_valores %}
{% load divide_lista %}

{% if dados.aprovadas.contas %}
  <article id="columns">
    {% for conta in dados.aprovadas.contas %}
      <section>
        <table class="table table-bordered tabela-status-pc">
          <thead>
          <tr>
            <th scope="col" style="width: 3%">Ordem</th>
            <th scope="col" style="width: 97%">Unidade educacional</th>
          </tr>
          </thead>
          {% for dado in conta.info %}
            <tbody>
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ dado.unidade.codigo_eol }} - {{ dado.unidade.tipo_unidade }} {{ dado.unidade.nome }}</td>
            </tr>
            </tbody>
          {% endfor %}
        </table>
      </section>
    {% endfor %}
  </article>
{% else %}
  <p class="font-12">Nenhuma prestação de contas aprovada</p>
{% endif %}
