<!doctype html>
<html lang="en">
{% load static %}
{% load formata_valores %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="{{ base_static_url }}/css/bootstrap/bootstrap-4.6.0.min.css" rel="stylesheet">
  <link href="{{ base_static_url }}/css/pdf-levantamento-prioridades-paa.css" rel="stylesheet">

  <title>Levantamento de Prioridades</title>
</head>
<body>
{# ************************* Cabecalho das páginas *************************  #}
<header>
  <div class="d-flex align-items-center">
    <div class="col-1 border-end">
      <img src="{{ base_static_url }}/images/logo_PrefSP_sem_fundo_horizontal_colorida.svg" alt="logo">
    </div>
    <div class="col-7 border-end">
      <div class="row">
        <div class="col-12">
          <span class="font-8">
            <strong>Programa de Transferência de Recursos Financeiros -  PTRF</strong>
          </span>
        </div>
        <div class="col-12">
          <span class="font-8">
            <strong>Plano anual de atividades</strong>
          </span>
        </div>
        <div class="col-12">
          <span class="font-8">
            <strong>Levantamento de Prioridades para subsidiar Plano de Aplicação dos Recursos Transferidos/Arrecadados</strong>
          </span>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12"><span class="font-8"><strong>Vigência do PAA: </strong> {{dados.ano}}</span></div>
        <div class="col-12"><span class="font-8"><strong>Ano corrente/Próximo ano: </strong>{{dados.ano}}/{{dados.ano|add:1}}</span></div>
      </div>
    </div>
  </div>
</header>
{# ************************* Fim Cabecalho das páginas *************************  #}

{# ************************* Rodape ************************* #}
<p id="nome-associacao-rodape" class="font-10">
  <i>{{dados.rodape}}</i>
</p>
{# ************************* Fim Rodape ************************* #}

{# ************************* Equipe Técnica ************************* #}
{% include "./partials/bloco-equipe.html" with dados=dados equipe_tipo="Equipe Técnica" texto="Relação de serviços e aquisições considerados fundamentais pelos Membros da Equipe Técnica para a melhoria das condições de trabalho, em consonância com o Projeto Político-Pedagógico da Unidade Educacional e que posteriormente, ouvidos os demais segmentos comporão o Plano Anual de Atividades da: "|add:dados.nome_associacao%}
{# ************************* FIM Equipe Técnica ************************* #}

{# ************************* Equipe Docente ************************* #}
{% include "./partials/bloco-equipe.html" with dados=dados equipe_tipo="Equipe Docente" texto="Relação de serviços e aquisições considerados fundamentais pelos Membros da Equipe Docente para a melhoria das condições de trabalho, em consonância com o Projeto Político-Pedagógico da Unidade Educacional e que posteriormente, ouvidos os demais segmentos comporão o Plano Anual de Atividades da: "|add:dados.nome_associacao%}
{# ************************* FIM Equipe Docente ************************* #}

{# ************************* Equipe de Apoio ************************* #}
{% include "./partials/bloco-equipe.html" with dados=dados equipe_tipo="Equipe de Apoio" texto="Relação de serviços e aquisições considerados fundamentais pelos Membros da Equipe de Apoio para a melhoria das condições de trabalho, em consonância com o Projeto Político-Pedagógico da Unidade Educacional e que posteriormente, ouvidos os demais segmentos comporão o Plano Anual de Atividades da: "|add:dados.nome_associacao%}
{# ************************* FIM Equipe de Apoio ************************* #}

{# ************************* Grêmio Estudantil ************************* #}
{% include "./partials/bloco-equipe.html" with dados=dados equipe_tipo="Grêmio Estudantil" texto="Relação de serviços e aquisições considerados fundamentais pelos Membros do Grêmio Estudantil para a melhoria das condições de trabalho, em consonância com o Projeto Político-Pedagógico da Unidade Educacional e que posteriormente, ouvidos os demais segmentos comporão o Plano Anual de Atividades da: "|add:dados.nome_associacao%}
{# ************************* FIM Grêmio Estudantil ************************* #}

{# ************************* Pais, Responsáveis e Alunos ************************* #}
{% include "./partials/bloco-equipe.html" with dados=dados  equipe_tipo="Pais, Responsáveis e Alunos" texto="Relação de serviços e aquisições considerados fundamentais pelos Pais, Responsáveis e Alunos para a melhoria das condições de trabalho, em consonância com o Projeto Político-Pedagógico da Unidade Educacional e que posteriormente, ouvidos os demais segmentos comporão o Plano Anual de Atividades da: "|add:dados.nome_associacao%}
{# ************************* FIM Pais, Responsáveis e Alunos ************************* #}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>
