{# Bloco 1 - Identificação da Associação #}
<section class="row mt-4">
  <article class="col mb-3 border p-0">
    <p class="font-14 pt-1 pb-1 pl-2 border-bottom mb-0"><strong>Bloco 1 - Identificação da Associação</strong></p>
    <div class="col-12">
      <div class="mb-3 pt-2">
        <p class="mb-0 font-12"><strong>Nome da Associação:</strong></p>
        <p class="mb-0 font-12 pb-2">{{ dados.identificacao_associacao.nome_associacao }}</p>
      </div>
      <div class="row">
        <div class="col-4">
          <p class="mb-0 font-12"><strong>CNPJ:</strong></p>
          <p class="mb-0 font-12 pb-2">{{ dados.identificacao_associacao.cnpj_associacao }}</p>
        </div>
        <div class="col-4">
          <p class="mb-0 font-12"><strong>Código EOL:</strong></p>
          <p class="mb-0 font-12 pb-2">{{ dados.identificacao_associacao.codigo_eol }}</p>
        </div>
        <div class="col-4">
          <p class="mb-0 font-12"><strong>Diretoria Regional de Educação:</strong></p>
          <p class="mb-0 font-12 pb-2">{{ dados.identificacao_associacao.dre }}</p>
        </div>
      </div>
    </div>
  </article>
</section>

