{# Bloco 2 - Introdução #}
<section class="row mt-4">
  <article class="col mb-3 border p-0">
    <p class="font-14 pt-1 pb-1 pl-2 border-bottom mb-0"><strong>Bloco 2 - Introdução</strong></p>
    <div class="col-12">
      <p class="font-12 pt-2 pb-2 mb-0">
          Ata de Reunião Conjunta {{ dados.dados_texto_da_ata.tipo_reuniao }} do Conselho de Escola e da Associação de Pais e Mestres da(o) {{ dados.dados_texto_da_ata.unidade_tipo }} {{ dados.dados_texto_da_ata.unidade_nome }}
      </p>
      <p class="font-12 texto-justificado pb-2 mb-0">
        {{ dados.dados_texto_da_ata.data_reuniao_por_extenso }}
        no (a) {{ dados.dados_texto_da_ata.local_reuniao }}, da Unidade Educacional {{ dados.dados_texto_da_ata.unidade_nome }}, às {{ dados.dados_texto_da_ata.hora_reuniao }}, realizou-se a reunião {{ dados.dados_texto_da_ata.tipo_reuniao }} da Diretoria Executiva e Conselho Fiscal da Associação de Pais e Mestres do(a) {{ dados.dados_texto_da_ata.unidade_tipo }} {{ dados.dados_texto_da_ata.unidade_nome }}, com a participação dos membros do Conselho de Escola, em atendimento ao <span style="color: #B40C02;">inciso XIII do artigo 118, da Lei nº 14.660/2007</span>.
      </p>
      <p class="font-12 texto-justificado pb-2 mb-0">
        Dando atendimento à pauta, houve explanação sobre o Projeto Pedagógico da Unidade, o qual serviu de base para a elaboração do Plano acima citado, que conterá as Atividades Previstas, Plano de Aplicação de Recursos e Plano Orçamentário. A seguir, foi apresentado o PAA, o qual contempla o levantamento das prioridades/atividades sugeridas pelos diferentes segmentos da comunidade escolar, procedendo-se à análise para consolidação das mesmas.
      </p>
      <p class="font-12 texto-justificado pb-2 mb-0">
        O (A) Presidente da Diretoria Executiva explicou que a Associação recebe a verba do PTRF e conforme art. 3º, da Lei Municipal nº 13.991/2005, os recursos transferidos pelo Programa devem ser aplicados: I – na aquisição de material permanente; II – na aquisição de material de consumo necessário ao funcionamento da Unidade Educacional; III – na manutenção, conservação e pequenos reparos da Unidade Educacional; IV – no desenvolvimento de atividades educacionais; V – na implementação de Projetos Pedagógicos na Unidade Educacional; VI – na contratação de serviços e VII – nos programas e projetos de inserção de tecnologias na educação.
      </p>
      <p class="font-12 texto-justificado pb-2 mb-0">
        Após análise e discussão, foram estabelecidos pelos presentes as seguintes prioridades para os recursos relacionados abaixo:
      </p>
    </div>
  </article>
</section>

