{% load static %}

<table class="table table-bordered tabela-relatorio-dre nao-quebra-linha">
  <thead>
      <tr>
        <th colspan="16" class="th-fundo-branco py-2 pl-2">
          <p class="font-14 titulo mb-0 mt-0 px-0"><strong>Bloco 3: Execução Física</strong></p>
        </th>
      </tr>

      <tr>
        <th class="titulo" colspan="3"><strong>Atendimento</strong></th>
        <th rowspan="2" class="separacao-de-colunas-da-tabela"> </th>
        <th class="titulo" colspan="7"><strong>Prestação de contas das Associações</strong></th>
        <th rowspan="2" class="separacao-de-colunas-da-tabela"> </th>
        <th class="titulo" colspan="1"></th>
      </tr>

      <tr>
        <th class="th-fundo-branco">09 - UEs da DRE</th>
        <th class="th-fundo-branco">10 - UEs com Associação</th>
        <th class="th-fundo-branco">11 - Associações regulares</th>

        <th class="th-fundo-branco">12 - Aprovadas</th>
        <th class="th-fundo-branco">13 - Aprovadas com ressalva</th>
        <th class="th-fundo-branco">14 - Rejeitadas</th>
        <th class="th-fundo-branco">15 - Em análise</th>
        <th class="th-fundo-branco">16 - Não apresentadas</th>
        <th class="th-fundo-branco">17 - UEs publicadas anteriormente</th>
        <th class="th-fundo-branco">18 - Total</th>

        <th class="th-fundo-branco">19 - UEs Retificadas</th>
      </tr>

  </thead>

  <tbody class="nao-quebra-linha">
    <tr>
      <td class="text-right">{{ dados.execucao_fisica.ues_da_dre }}</td>
      <td class="text-right">{{ dados.execucao_fisica.ues_com_associacao }}</td>
      <td class="text-right">{{ dados.execucao_fisica.associacoes_regulares }}</td>

      <td rowspan="1" class="separacao-de-colunas-da-tabela"> </td>

      <td class="text-right">{{ dados.execucao_fisica.aprovada }}</td>
      <td class="text-right">{{ dados.execucao_fisica.aprovada_ressalva }}</td>
      <td class="text-right">{{ dados.execucao_fisica.rejeitada }}</td>
      <td class="text-right">{{ dados.execucao_fisica.analise }}</td>
      <td class="text-right">{{ dados.execucao_fisica.nao_apresentadas }}</td>
      <td class="text-right">{{ dados.execucao_fisica.publicadas_anteriormente}}</td>
      <td class="text-right">{{ dados.execucao_fisica.total }}</td>

      <td rowspan="1" class="separacao-de-colunas-da-tabela"> </td>

      <td class="text-right">{{ dados.execucao_fisica.ues_retificadas }}</td>
    </tr>

    <tr>
      <td colspan="16">
        <div class="d-flex flex-row p-2">
          <div class="pr-2">
            <span class="font-10 titulo pt-2 pb-2"><strong>Nota explicativa:</strong></span>
          </div>
          <div>
            <span class="font-10 pt-2 pb-2">Coluna 18 - É a soma das colunas 12 a 17.</span>
            <br/>
            {% if dados.execucao_fisica.eh_relatorio_consolidado_publicacoes_parciais %}
              <span class="font-10 pt-2">Coluna 19 - Exibe a quantidade de UEs cuja a PC foi retificada nas publicações parciais.</span>
            {% else %}
              <span class="font-10 pt-2">Coluna 19 - Exibe a quantidade de UEs cuja a PC foi retificada na referida publicação.</span>
            {% endif %}
          </div>
        </div>

      </td>
    </tr>
  </tbody>
</table>
