{% load static %}

<table class="table table-bordered tabela-relatorio-dre nao-quebra-linha">
  <thead>
      <tr>
        <th colspan="16" class="th-fundo-branco py-2 pl-2">
          <p class="font-14 titulo mb-0 mt-0 px-0"><strong>Bloco 3: Execução Física</strong></p>
        </th>
      </tr>

      <tr>
        <th class="titulo" colspan="3"><strong>Atendimento</strong></th>
        <th rowspan="2" class="separacao-de-colunas-da-tabela"> </th>
        <th class="titulo" colspan="7"><strong>Prestação de contas das Associações</strong></th>
        <th rowspan="2" class="separacao-de-colunas-da-tabela"> </th>
        <th class="titulo" colspan="1"></th>
      </tr>

      <tr>
        <th class="th-fundo-branco">{{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.ues_da_dre }} - UEs da DRE</th>
        <th class="th-fundo-branco">{{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.ues_com_associacao }} - UEs com Associação</th>
        <th class="th-fundo-branco">{{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.associacoes_regulares }} - Associações regulares</th>
        <th class="th-fundo-branco">{{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.aprovadas }} - Aprovadas</th>
        <th class="th-fundo-branco">{{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.aprovadas_com_ressalva }} - Aprovadas com ressalva</th>
        <th class="th-fundo-branco">{{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.rejeitadas }} - Rejeitadas</th>
        <th class="th-fundo-branco">{{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.em_analise }} - Em análise</th>
        <th class="th-fundo-branco">{{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.nao_apresentadas }} - Não apresentadas</th>
        <th class="th-fundo-branco">{{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.ues_publicadas_anteriormente }} - UEs {{ dados.text_document_consolidado_pc.text_in_past_and_plural }} anteriormente</th>
        <th class="th-fundo-branco">{{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.total }} - Total</th>

        <th class="th-fundo-branco">{{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.ues_retificadas }} - UEs Retificadas</th>
      </tr>

  </thead>

  <tbody class="nao-quebra-linha">
    <tr>
      <td class="text-right">{{ dados.execucao_fisica.ues_da_dre }}</td>
      <td class="text-right">{{ dados.execucao_fisica.ues_com_associacao }}</td>
      <td class="text-right">{{ dados.execucao_fisica.associacoes_regulares }}</td>

      <td rowspan="1" class="separacao-de-colunas-da-tabela"> </td>

      <td class="text-right">{{ dados.execucao_fisica.aprovada }}</td>
      <td class="text-right">{{ dados.execucao_fisica.aprovada_ressalva }}</td>
      <td class="text-right">{{ dados.execucao_fisica.rejeitada }}</td>
      <td class="text-right">{{ dados.execucao_fisica.analise }}</td>
      <td class="text-right">{{ dados.execucao_fisica.nao_apresentadas }}</td>
      <td class="text-right">{{ dados.execucao_fisica.publicadas_anteriormente}}</td>
      <td class="text-right">{{ dados.execucao_fisica.total }}</td>

      <td rowspan="1" class="separacao-de-colunas-da-tabela"> </td>

      <td class="text-right">{{ dados.execucao_fisica.ues_retificadas }}</td>
    </tr>

    <tr>
      <td colspan="16">
        <div class="d-flex flex-row p-2">
          <div class="pr-2">
            <span class="font-10 titulo pt-2 pb-2"><strong>Nota explicativa:</strong></span>
          </div>
          <div>
            <span class="font-10 pt-2 pb-2">Coluna {{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.total }} - É a soma das colunas {{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.aprovadas }} a {{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.ues_publicadas_anteriormente }}.</span>
            <br/>
            {% if dados.execucao_fisica.eh_relatorio_consolidado_publicacoes_parciais %}
              <span class="font-10 pt-2">Coluna {{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.ues_retificadas }} - Exibe a quantidade de UEs cuja a PC foi retificada {{ dados.text_document_consolidado_pc.text_in }} parciais.</span>
            {% else %}
              <span class="font-10 pt-2">Coluna {{ dados.ordem_bloco3_execucao_fisica.numeros_colunas.ues_retificadas }} - Exibe a quantidade de UEs cuja a PC foi retificada {{ dados.text_document_consolidado_pc.text_refer }}.</span>
            {% endif %}
          </div>
        </div>

      </td>
    </tr>
  </tbody>
</table>
