{% load staticfiles %}
{% load quantidade_rowspan %}

<table class="table table-bordered tabela-relatorio-dre nao-quebra-linha">
  <thead>
  <tr>
    <th colspan="18" class="th-fundo-branco py-2 pl-2">
      <p class="font-14 titulo mb-0 mt-0 px-0"><strong>Bloco 4: Dados Físico-Financeiros da Execução (R$)</strong></p>
    </th>
  </tr>
  <tr>
    <th style="width: 3%">19 - Ordem</th>
    <th style="width: 15%">20 - Unidade</th>
    <th style="width: 5%">21 - Conta</th>
    <th colspan="2">22 - Reprogramado do período anterior</th>
    <th colspan="2">23 - Transferido pela DRE</th>
    <th colspan="2">24 - Outros créditos</th>
    <th colspan="2">25 - Valor total disponível</th>
    <th colspan="2">26 - Despesa realizada</th>
    <th colspan="2">27 - Saldo reprogramado para<br/>o próximo período</th>
    <th colspan="2">28 - Devolução ao Tesouro</th>
    <th>29 - Situação da PC</th>
  </tr>
  </thead>

  {% for info in dados.dados_fisicos_financeiros.lista %}

    <tbody>

    {% for conta in info.por_tipo_de_conta %}
      <tr>

        {% if forloop.counter == 1 %}
          <td rowspan="{{ info.por_tipo_de_conta|length|retorna_quantidade_rowspan }}" class="text-center">
            {{ info.ordem }}
          </td>
          <td rowspan="{{ info.por_tipo_de_conta|length|retorna_quantidade_rowspan }}">
            <p class="mb-2">{{ info.associacao.codigo_eol }} - {{ info.associacao.tipo }} {{ info.associacao.nome }}</p>

            {% if info.referencia_consolidado %}
             <p class="font-9"><i>{{ info.referencia_consolidado }}</i></p>
            {% endif %}

          </td>
        {% endif %}

        {% if conta.exibe_valores %} {% comment %} Caso exista valores eles são exibidos, senão exibe uma mensagem que vem do back - Não houve movimentação financeira. {% endcomment %}

            <td rowspan="8">{{ conta.tipo_conta }}</td>

            <td rowSpan="2" style="width: 4%;">C</td>
            <td rowSpan="2" class="text-right">{{ conta.custeio.saldo_reprogramado_anterior_custeio }}</td>

            <td rowSpan="2" style="width: 4%">C</td>
            <td rowSpan="2" class="text-right">{{ conta.custeio.repasse_custeio }}</td>

            <td rowSpan="2" style="width: 4%">C</td>
            <td rowSpan="2" class="text-right">{{ conta.custeio.outros_creditos }}</td>

            <td rowSpan="2" style="width: 4%">C</td>
            <td rowSpan="2" class="text-right">{{ conta.custeio.valor_total_disponivel_custeio }}</td>

            <td rowSpan="3" style="width: 4%">C</td>
            <td rowSpan="3" class="text-right">{{ conta.custeio.despesas_custeio }}</td>

            <td rowSpan="2" style="width: 4%">C</td>
            <td rowSpan="2" class="text-right">{{ conta.custeio.saldo_custeio }}</td>

            {% if forloop.counter == 1 %}
              <td rowspan="{{ info.por_tipo_de_conta|length|retorna_quantidade_rowspan }}"><strong>T</strong></td>
              <td class="text-right" rowspan="{{ info.por_tipo_de_conta|length|retorna_quantidade_rowspan }}"><strong>{{ conta.totais.devolucoes_ao_tesouro_no_periodo_total }}</strong></td>


              <td rowspan="{{ info.por_tipo_de_conta|length|retorna_quantidade_rowspan }}">{{ info.situacao_pc }}</td>
            {% endif %}
          </tr>

          <tr></tr>

          <tr>
            <td rowSpan="2">L</td>
            <td rowSpan="2" class="text-right">{{ conta.livre.saldo_reprogramado_anterior_livre }}</td>

            <td rowSpan="2">L</td>
            <td rowSpan="2" class="text-right">{{ conta.livre.repasse_livre }}</td>

            <td rowSpan="2">L</td>
            <td rowSpan="2" class="text-right">{{ conta.livre.outros_creditos }}</td>

            <td rowSpan="2">L</td>
            <td rowSpan="2" class="text-right">{{ conta.livre.valor_total_disponivel_livre }}</td>

            <td rowSpan="2">L</td>
            <td rowSpan="2" class="text-right">{{ conta.livre.saldo_livre }}</td>

            <td style="display: inline-table; border:none !important;"></td>
          </tr>

          <tr>
            <td rowSpan="3" style="width: 4%">K</td>
            <td rowSpan="3" class="text-right">{{ conta.capital.despesas_capital }}</td>
          </tr>

          <tr>
            <td rowSpan="2">K</td>
            <td rowSpan="2" class="text-right">{{ conta.capital.saldo_reprogramado_anterior_capital }}</td>

            <td rowSpan="2">K</td>
            <td rowSpan="2" class="text-right">{{ conta.capital.repasse_capital }}</td>

            <td rowSpan="2">K</td>
            <td rowSpan="2" class="text-right">{{ conta.capital.outros_creditos }}</td>

            <td rowSpan="2">K</td>
            <td rowSpan="2" class="text-right">{{ conta.capital.valor_total_disponivel_capital }}</td>

            <td rowSpan="2">K</td>
            <td rowSpan="2" class="text-right">{{ conta.capital.saldo_capital }}</td>
          </tr>

          <tr></tr>
          <tr></tr>
          <tr>
            <td style="border-top: none !important;"><strong>T</strong></td>
            <td class="text-right" style="border-top: none !important;">
              <strong>{{ conta.totais.saldo_reprogramado_periodo_anterior_total }}</strong></td>

            <td style="border-top: none !important;"><strong>T</strong></td>
            <td class="text-right" style="border-top: none !important;">
              <strong>{{ conta.totais.repasses_no_periodo_total }}</strong></td>

            <td style="border-top: none !important;"><strong>T</strong></td>
            <td class="text-right" style="border-top: none !important;">
              <strong>{{ conta.totais.outros_creditos_total }}</strong></td>

            <td style="border-top: none !important;"><strong>T</strong></td>
            <td class="text-right" style="border-top: none !important;">
              <strong>{{ conta.totais.valor_total_disponivel_total }}</strong></td>

            <td style="border-top: none !important;"><strong>T</strong></td>
            <td class="text-right" style="border-top: none !important;">
              <strong>{{ conta.totais.despesas_no_periodo_total }}</strong></td>

            <td style="border-top: none !important;"><strong>T</strong></td>
            <td class="text-right" style="border-top: none !important;"><strong>{{ conta.totais.saldo_reprogramado_proximo_periodo_total }}</strong></td>
          </tr>

      {% else %} {% comment %} if conta.exibe_valores {% endcomment %}
          <tr>
            <td class="py-2">{{ conta.tipo_conta }}</td>
            <td class="py-2" colspan="14">{{ conta.mensagem_movimentacao_financeira }}</td>
            {% if forloop.counter == 1 %}
              <td class="py-2" rowspan="{{ info.por_tipo_de_conta|length|retorna_quantidade_rowspan }}">{{ info.situacao_pc }}</td>
            {% endif %}
          </tr>

      {% endif %}  {% comment %} if conta.exibe_valores {% endcomment %}

    {% endfor %}

    </tbody>

    <tr style="border: none !important;">
      <td colspan="50" style="border: solid 1px #fff !important;"></td>
    </tr>
  {% endfor %}

</table>

