<!DOCTYPE html>

<html>
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <title>Ficha cadastral da associação e do presidente</title>
    <link href="{% static 'css/pdf.css' %}" rel="stylesheet">
  </head>

  <body>
        <table id="cabecalho">
          <tr>
            <td>
              <img src="{% static 'images/logo-pdf.svg' %}">
            </td>
            <td>
              <h1>Programa de Transferências de Recursos Financeiros - PTRF</h1>
            </td>
          </tr>
        </table>

            <h1 class="titulo">Ficha cadastral da associação e do presidente</h1>


    <table>
      <thead>
        <tr>
          <th><h2>Bloco 1 - Dados da Associação</h2></th>
        </tr>
      </thead>
      <tbody>
      <tr><td>
        <table class="tablebloco"><tr>
          <td class="tdbloco"><strong>Nome (de acordo com o CNPJ) :</strong> {{ associacao.nome }}</td>
        </tr></table><table class="tablebloco"><tr>
          <td class="tdbloco"><strong>CNPJ:</strong><br> {{ associacao.cnpj }}</td><td class="tdbloco"><strong>Cadastro de Contribuintes Mobiliários (CCM):</strong><br> {{ associacao.ccm }}</td>
        </tr></table><table class="tablebloco"><tr>
          <td class="tdbloco"><strong>Endereço:</strong><br> {{ associacao.unidade.logradouro }}, {{ associacao.unidade.numero }} {{ associacao.unidade.complemento }}</td><td class="tdbloco"><strong>Bairro:</strong><br> {{ associacao.unidade.bairro }}</td><td class="tdblocofim"><strong>CEP:</strong><br> {{ associacao.unidade.cep }}</td>
        </tr></table><table class="tablebloco"><tr>
          <td class="tdbloco"><strong>Telefone:</strong><br> {{ associacao.unidade.telefone }}</td><td class="tdbloco"><strong>Código EOL:</strong><br> {{ associacao.unidade.codigo_eol }}</td><td class="tdblocofim"><strong>E-mail:</strong><br> {{ associacao.unidade.email }}</td>
        </tr></table>
      </td></tr>
    </tbody>
  </table>
  <br>

    <table>
      <thead>
        <tr>
          <th><h2>Bloco 2 - Dados do Presidente da Associação</h2></th>
        </tr>
      </thead>
      <tbody>
      <tr><td>
        <table class="tablebloco"><tr>
          <td class="tdbloco"><strong>Nome:</strong><br> {{ associacao.presidente_associacao.nome }}</td><td class="tdbloco"><strong>Cargo ou função:</strong><br> {{ associacao.presidente_associacao.cargo_educacao }}</td>
        </tr></table>
        <table class="tablebloco"><tr>
          <td class="tdbloco"><strong>Telefone:</strong><br> {{ associacao.presidente_associacao.telefone }}</td><td class="tdbloco"><strong>E-mail:</strong><br> {{ associacao.presidente_associacao.email }}</td>
        </tr></table>
        <table class="tablebloco"><tr>
          <td class="tdbloco"><strong>Endereço:</strong><br> {{ associacao.presidente_associacao.endereco }}</td><td class="tdbloco"><strong>Complemento:</strong><br> &nbsp;</td><td class="tdblocofim"><strong>Bairro:</strong><br> {{ associacao.presidente_associacao.bairro }}</td>
        </tr></table>
        <table class="tablebloco"><tr>
          <td class="tdbloco"><strong>CEP:</strong><br> {{ associacao.presidente_associacao.cep }}</td><td class="tdbloco"><strong>Município:</strong><br> &nbsp;</td><td class="tdblocofim"><strong>UF:</strong><br> &nbsp;</td>
        </tr></table>
      </td></tr>
    </tbody>
  </table>
    {% if contas %}
    <table>
      <thead>
        <tr>
          <th><h2>Bloco 3 - Dados Bancários</h2></th>
        </tr>
      </thead>
      <tbody>
      {% for conta in contas %}
      <tr><td>
        <h3>Conta Corrente ({{ conta.tipo_conta }})</h3>
        <table class="tablebloco"><tr>
          <td class="tdbloco"><strong>Código do Banco:</strong><br> {{ conta.banco_nome }}</td><td class="tdbloco"><strong>Código da Agência/DV:</strong><br> {{ conta.agencia }}</td><td class="tdblocofim"><strong>N° da Conta Corrente/DV:</strong><br> {{ conta.numero_conta }}</td>
        </tr></table>
      </td></tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
 </body>

  <div>
  <span id="footer">
    <i>Documento gerado pelo Sig_Escola em {{ dataAtual }} pelo usuário {{  usuarioLogado }}.</i>
  </span>
  </div>
</html>



