{% load static %}
{% block content %}

<div class="row">
    <div class="col-12 p-2">
        <p><img src="{{server_name}}/django_static/images/logo-ptrf-verde.a9a19032.png" style="width: 200px;"/></p>

        <p>Olá, {{ nome }},</p>

        <p>Você solicitou a criação de nova senha no SIG-Escola em {{ data }}.</p> 
        <p>Para isso, clique <a href="{{url}}">aqui</a>  ou copie e cole em seu navegador o link abaixo:<br> 
        {{ url }}
        </p>
        
        <p>O seu login continua o mesmo: {{ login }}</p>
        
        <p>Atenciosamente,</p>
        <br/>
    </div>
</div>

{% endblock %}
