{% block content %}

<div class="row">
    <div class="col-12 p-2">
        <p>Olá, {{ nome }},</p>
        <p>Você acionou a opção "Esqueci minha senha" do PTRF. Para concluir<br/>
           esta operação, basta clicar no link abaixo ou copiar o endereço do link<br/>
           e colar no seu navegador. 
        </p>
        <p>O seu login continua o mesmo: {{ login }}
        </p>

        <p>Clique no link abaixo e defina uma nova senha:</p>
        <p>{{ url }}</p>
        <br/>
        <br/>
    </div>
</div>

{% endblock %}