{% load mathfilters %}

<!doctype html>
<html lang="pt-br">
{% load staticfiles %}
{% load static %}
{% load formata_valores %}
{% load i18n %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="{{ base_static_url }}/css/ata-pdf.css" rel="stylesheet">

  <title>Ata PTRF</title>
</head>
<body>

{# ************************* Cabecalho das páginas *************************  #}
<header>
  <div class="d-flex">
    <div class="col-auto d-flex align-items-center border-rigth-logo mr-3 pr-5">
      <img src="{{ base_static_url }}/images/logo-color.svg" alt="logo">
    </div>
    <div class="col-5 d-flex align-items-center justify-content-center ml-3">
      <p class="mb-0 bottom-left">
        <span class="titulo font-14"><strong>{{ dados.cabecalho.titulo }}</strong></span><br/>
        <span
          class="font-12 mb-0"><strong>{{ dados.cabecalho.subtitulo }} - </strong>Ata de {{ dados.dados_da_ata.get_tipo_ata_display }}</span>
      </p>
    </div>
    <div class="col-5 d-flex align-items-center justify-content-end">
      <p class="mb-0 font-12 border px-3 py-2">
        <span>Período de Realização:</span><br/>
        <span><strong>{{ dados.cabecalho.periodo_referencia }} - {{ dados.cabecalho.periodo_data_inicio }} a {{ dados.cabecalho.periodo_data_fim }}</strong></span><br/>
      </p>
    </div>
  </div>
</header>
{# ************************* Fim Cabecalho das páginas *************************  #}

{# ************************* Rodape ************************* #}
<p id="nome-associacao-rodape" class="font-10">
  <i>Ata PDF gerada pelo Sig_Escola em {% now "j/m/Y" %} pelo usuário {{ dados.dados_texto_da_ata.usuario }} para a APM
    DA(O) {{ dados.dados_texto_da_ata.unidade_tipo }} {{ dados.dados_texto_da_ata.unidade_nome }}</i></p>
{# ************************* Fim Rodape ************************* #}

<section class="conteudo">
  <p class="font-12">
    <strong>
      Ata de Reunião {{ dados.dados_da_ata.get_tipo_reuniao_display }} da Associacao
      do(a) {{ dados.dados_texto_da_ata.unidade_tipo }} {{ dados.dados_texto_da_ata.unidade_nome }}
    </strong>
  </p>
  <p class="font-12">
    {{ dados.dados_texto_da_ata.data_reuniao_por_extenso }}
    no(a) {{ dados.dados_texto_da_ata.local_reuniao }}, {{ dados.dados_texto_da_ata.unidade_tipo }} {{ dados.dados_texto_da_ata.unidade_nome }},
    reuniram-se os membros da {{ dados.dados_texto_da_ata.associacao_nome }},
    para tratar da seguinte pauta: Apresentação ao Conselho Fiscal da prestação de contas da verba do PTRF
    e suas ações agregadas, do período de {{ dados.cabecalho.periodo_data_inicio }} a {{ dados.cabecalho.periodo_data_fim }},
    referente ao {{ dados.dados_texto_da_ata.periodo_referencia }}.
    Aberta a reunião em
    {% if dados.dados_da_ata.get_convocacao_display %}{{ dados.dados_da_ata.get_convocacao_display }}{% else %}
      "___"{% endif %},
    pelo(a) Senhor(a) {{ dados.dados_texto_da_ata.presidente_reuniao }},
    {{ dados.dados_texto_da_ata.cargo_presidente_reuniao }} e verificada a existência de número legal de membros
    presentes, o(a) senhor(a)
    {{ dados.dados_texto_da_ata.presidente_reuniao }} apresentou os documentos fiscais referentes às despesas realizadas
    no período para análise dos presentes, conforme segue:
  </p>


  {% for conta in dados.info_financeira_ata.contas %}
    <h5 class="font-12"><strong>Conta {{ conta.conta_associacao.nome }}</strong></h5>
    <hr class="mt-1 mb-2"/>

    {% for info in conta.acoes %}
      <p class='titulo-tabela-acoes mt-3'>
        {{ info.acao_associacao_nome }}
      </p>
      <table class="table table-bordered tabela-acoes">
        <thead>
        <tr class="tr-titulo">
          <th scope="col">&nbsp;</th>
          <th scope="col">Custeio (R$)</th>
          <th scope="col">Capital (R$)</th>
          <th scope="col">Livre aplicação (R$)</th>
          <th scope="col">Total (R$)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Saldo reprogramado do período anterior</td>
          <td>{{ info.saldo_reprogramado_custeio|formata_valor }}</td>
          <td>{{ info.saldo_reprogramado_capital|formata_valor }}</td>
          <td>{{ info.saldo_reprogramado_livre|formata_valor }}</td>
          <td>{{ info.saldo_reprogramado|formata_valor }}</td>
        </tr>
        <tr>
          <td>Repasses</td>
          <td>{{ info.repasses_no_periodo_custeio|formata_valor }}</td>
          <td>{{ info.repasses_no_periodo_capital|formata_valor }}</td>
          <td>{{ info.repasses_no_periodo_livre|formata_valor }}</td>
          <td>{{ info.repasses_no_periodo|formata_valor }}</td>
        </tr>
        <tr>
          <td>Demais créditos (rendimento e outros)</td>
          <td>{{ info.outras_receitas_no_periodo_custeio|formata_valor }}</td>
          <td>{{ info.outras_receitas_no_periodo_capital|formata_valor }}</td>
          <td>{{ info.outras_receitas_no_periodo_livre|formata_valor }}</td>
          <td>{{ info.outras_receitas_no_periodo|formata_valor }}</td>
        </tr>
        <tr>
          <td>Despesas demonstradas</td>
          <td>{{ info.despesas_conciliadas_custeio|formata_valor }}</td>
          <td>{{ info.despesas_conciliadas_capital|formata_valor }}</td>
          <td class="td-livre-aplicacao-ausente">-</td>
          <td>{{ info.despesas_conciliadas|formata_valor }}</td>
        </tr>
        <tr>
          <td>Despesas não demonstradas no período</td>
          <td>{{ info.despesas_nao_conciliadas_custeio|formata_valor }}</td>
          <td>{{ info.despesas_nao_conciliadas_capital|formata_valor }}</td>
          <td class="td-livre-aplicacao-ausente">-</td>
          <td>{{ info.despesas_nao_conciliadas|formata_valor }}</td>
        </tr>
        <tr>
          <td>Saldo reprogramado para o próximo período</td>
          <td>{{ info.saldo_atual_custeio|formata_valor }}</td>
          <td>{{ info.saldo_atual_capital|formata_valor }}</td>
          <td>{{ info.saldo_atual_livre|formata_valor }}</td>
          <td>{{ info.saldo_atual_total|formata_valor }}</td>
        </tr>
        <tr>
          <td>Despesas não demonstradas de períodos anteriores</td>
          <td>{{ info.despesas_nao_conciliadas_anteriores_custeio|formata_valor }}</td>
          <td>{{ info.despesas_nao_conciliadas_anteriores_capital|formata_valor }}</td>
          <td class="td-livre-aplicacao-ausente">-</td>
          <td>{{ info.despesas_nao_conciliadas_anteriores|formata_valor }}</td>
        </tr>
        <tr>
          <td>Saldo bancário ao final do período</td>
          <td>{{ info.saldo_bancario_custeio|formata_valor }}</td>
          <td>{{ info.saldo_bancario_capital|formata_valor }}</td>
          <td>{{ info.saldo_bancario_livre|formata_valor }}</td>
          <td>{{ info.saldo_bancario_total|formata_valor }}</td>
        </tr>
        </tbody>
      </table>

      {% comment %} Especificacoes {% endcomment %}
      <div class="row mt-3 mb-3">
        <div class="col-12">
          <p class="mb-0 font-10 texto-despesas-titulo"><strong>Despesas de custeio:</strong>
            {% if info.despesas_no_periodo_custeio %}
              <span
                class="texto-despesas-valor"> R$ {{ info.despesas_no_periodo_custeio|formata_valor }}</span> {% else %}
              Não foram realizadas despesas de Custeio no período.{% endif %}</p>
        </div>
        {% for espec in info.especificacoes_despesas_custeio %}
          <div class="col-4">
            <p class="mb-0 font-10"><strong>{{ forloop.counter }}</strong> - {{ espec }}</p>
          </div>
        {% endfor %}
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-12">
          <p class="mb-0 font-10 texto-despesas-titulo"><strong>Despesas de capital:</strong>
            {% if info.despesas_no_periodo_capital %}
              <span
                class="texto-despesas-valor"> R$ {{ info.despesas_no_periodo_capital|formata_valor }}</span> {% else %}
              Não foram realizadas despesas de Capital no período.{% endif %}</p>
        </div>
        {% for espec in info.especificacoes_despesas_capital %}
          <div class="col-4">
            <p class="mb-0 font-10"><strong>{{ forloop.counter }}</strong> - {{ espec }}</p>
          </div>
        {% endfor %}
      </div>
      {% comment %} FIM Especificacoes {% endcomment %}

    {% endfor %} {% comment %} for info in conta.acoes {% endcomment %}

    <p class='titulo-tabela-acoes mt-3'>Totais</p>
    <table class="table table-bordered tabela-totais">
      <thead>
      <tr class="tr-titulo">
        <th scope="col">&nbsp;</th>
        <th scope="col">Custeio (R$)</th>
        <th scope="col">Capital (R$)</th>
        <th scope="col">Livre aplicação (R$)</th>
        <th scope="col">Total (R$)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Saldo reprogramado do período anterior</td>
        <td>{{ conta.totais.saldo_reprogramado_custeio|formata_valor }}</td>
        <td>{{ conta.totais.saldo_reprogramado_capital|formata_valor }}</td>
        <td>{{ conta.totais.saldo_reprogramado_livre|formata_valor }}</td>
        <td>{{ conta.totais.saldo_reprogramado|formata_valor }}</td>
      </tr>
      <tr>
        <td>Repasses</td>
        <td>{{ conta.totais.repasses_no_periodo_custeio|formata_valor }}</td>
        <td>{{ conta.totais.repasses_no_periodo_capital|formata_valor }}</td>
        <td>{{ conta.totais.repasses_no_periodo_livre|formata_valor }}</td>
        <td>{{ conta.totais.repasses_no_periodo|formata_valor }}</td>
      </tr>
      <tr>
        <td>Demais créditos (rendimento e outros)</td>
        <td>{{ conta.totais.outras_receitas_no_periodo_custeio|formata_valor }}</td>
        <td>{{ conta.totais.outras_receitas_no_periodo_capital|formata_valor }}</td>
        <td>{{ conta.totais.outras_receitas_no_periodo_livre|formata_valor }}</td>
        <td>{{ conta.totais.outras_receitas_no_periodo|formata_valor }}</td>
      </tr>
      <tr>
        <td>Despesas demonstradas</td>
        <td>{{ conta.totais.despesas_conciliadas_custeio|formata_valor }}</td>
        <td>{{ conta.totais.despesas_conciliadas_capital|formata_valor }}</td>
        <td class="td-livre-aplicacao-ausente">-</td>
        <td>{{ conta.totais.despesas_conciliadas|formata_valor }}</td>
      </tr>
      <tr>
        <td>Despesas não demonstradas no período</td>
        <td>{{ conta.totais.despesas_nao_conciliadas_custeio|formata_valor }}</td>
        <td>{{ conta.totais.despesas_nao_conciliadas_capital|formata_valor }}</td>
        <td class="td-livre-aplicacao-ausente">-</td>
        <td>{{ conta.totais.despesas_nao_conciliadas|formata_valor }}</td>
      </tr>
      <tr>
        <td>Saldo reprogramado para o próximo período</td>
        <td>{{ conta.totais.saldo_atual_custeio|formata_valor }}</td>
        <td>{{ conta.totais.saldo_atual_capital|formata_valor }}</td>
        <td>{{ conta.totais.saldo_atual_livre|formata_valor }}</td>
        <td>{{ conta.totais.saldo_atual_total|formata_valor }}</td>
      </tr>
      <tr>
        <td>Despesas não demonstradas de períodos anteriores</td>
        <td>{{ conta.totais.despesas_nao_conciliadas_anteriores_custeio|formata_valor }}</td>
        <td>{{ conta.totais.despesas_nao_conciliadas_anteriores_capital|formata_valor }}</td>
        <td class="td-livre-aplicacao-ausente">-</td>
        <td>{{ conta.totais.despesas_nao_conciliadas_anteriores|formata_valor }}</td>
      </tr>
      <tr>
        <td>Saldo bancário ao final do período</td>
        <td>{{ conta.totais.saldo_bancario_custeio|formata_valor }}</td>
        <td>{{ conta.totais.saldo_bancario_capital|formata_valor }}</td>
        <td>{{ conta.totais.saldo_bancario_livre|formata_valor }}</td>
        <td>{{ conta.totais.saldo_bancario_total|formata_valor }}</td>
      </tr>
      </tbody>
    </table>

    {% comment %} Texto por ação {% endcomment %}
    <p class="mt-3">O(a) Senhor(a) {{ dados.dados_texto_da_ata.presidente_reuniao }} esclareceu que as despesas
      atenderam às prioridades registradas na(s) ata(a) da(s) reunião(ões) da Associação e em seguida informou que ao
      término do período de realização das despesas do {{ dados.dados_texto_da_ata.periodo_referencia }}, restaram na
      conta nº {{ conta.conta_associacao.numero_conta }} do {{ conta.conta_associacao.banco_nome }},
      agência {{ conta.conta_associacao.agencia }} os valores de R$ {{ conta.totais.saldo_atual_custeio|formata_valor }}
      para despesas de custeio, R$ {{ conta.totais.saldo_atual_capital|formata_valor }}, para despesas de capital e
      R$ {{ conta.totais.saldo_atual_livre|formata_valor }} para despesas de livre aplicação, valores estes que foram
      reprogramados, além de R$ {{ conta.totais.despesas_nao_conciliadas|addition:conta.totais.despesas_nao_conciliadas_anteriores|formata_valor }}
      relativo a despesas pendentes de compensação bancária, totalizando R$ {{ conta.totais.saldo_bancario_total|formata_valor }}.</p>
    {% comment %} FIM Texto por ação {% endcomment %}

  {% endfor %} {% comment %} for conta in dados.info_financeira_ata.contas {% endcomment %}

  {% comment %} Comentários {% endcomment %}
  <p class="mt-4">{{ dados.dados_texto_da_ata.comentarios }}</p>

  <p class="mt-4">Esgotados os assuntos o(a) senhor(a) presidente ofereceu a palavra a quem dela desejasse fazer uso e, como não houve manifestação, agradeceu a presença de todos e considerou encerrada a reunião, a qual eu, {{ dados.dados_texto_da_ata.secretario_reuniao }}, lavrei a presente ata, que vai por mim assinada e pelos demais presentes.</p>

  {% language 'pt-br' %}
    <p class="mt-4">São Paulo, dia {{ dados.dados_da_ata.data_reuniao|date:"d" }}
      de {{ dados.dados_da_ata.data_reuniao|date:"F"|lower }} de {{ dados.dados_da_ata.data_reuniao|date:"Y" }}</p>
  {% endlanguage %}

  <p class="font-12 mt-5 titulo-membros-conselho-fiscal">Presentes</p>
  <table class="table table-bordered tabela-assinaturas">
      <thead>
      <tr>
        <th scope="col">Nome e cargo</th>
        <th scope="col">Assinatura</th>
      </tr>
      </thead>
       {% for info in dados.presentes_na_ata.presentes_ata_membros %}
        <tbody>
          <tr>
            <td>
              <p class='mb-0'><strong>{{ info.nome }}</strong></p>
              <p class='mb-0'>{{ info.cargo }}</p>
            </td>
            <td> </td>
          </tr>
        </tbody>
      {% endfor %}
    </table>

<p class="font-12 mt-5 titulo-membros-conselho-fiscal">DEMAIS PRESENTES</p>
  <table class="table table-bordered tabela-assinaturas">
      <thead>
      <tr>
        <th scope="col">Nome e cargo</th>
        <th scope="col">Assinatura</th>
      </tr>
      </thead>
       {% for info in dados.presentes_na_ata.presentes_ata_nao_membros %}
        <tbody>
          <tr>
            <td>
              <p class='mb-0'><strong>{{ info.nome }}</strong></p>
              <p class='mb-0'>{{ info.cargo }}</p>
            </td>
            <td> </td>
          </tr>
        </tbody>
      {% endfor %}
    </table>


  {% comment %} Texto dinâmico inferior - Parecer do conselho fiscal com quebra de página {% endcomment %}
  <div id="parecer-do-conselho-fiscal-quebra-de-pagina">
    <p class="font-12"><strong>PARECER DO CONSELHO FISCAL</strong></p>
    <p class="mt-4">{% parecer_conselho dados.dados_texto_da_ata.parecer_conselho %}</p>

    {% language 'pt-br' %}
      <p class="mt-5">São Paulo, dia {{ dados.dados_da_ata.data_reuniao|date:"d" }}
        de {{ dados.dados_da_ata.data_reuniao|date:"F"|lower }} de {{ dados.dados_da_ata.data_reuniao|date:"Y" }}</p>
    {% endlanguage %}

    <p class="mt-5 font-12 titulo-membros-conselho-fiscal">Membros do Conselho Fiscal</p>

    <table class="table table-bordered tabela-assinaturas">
      <thead>
      <tr>
        <th scope="col">Nome e cargo</th>
        <th scope="col">Assinatura</th>
      </tr>
      </thead>
       {% for info in dados.presentes_na_ata.presentes_ata_conselho_fiscal %}
        <tbody>
          <tr>
            <td>
              <p class='mb-0'><strong>{{ info.nome }}</strong></p>
              <p class='mb-0'>{{ info.cargo }}</p>
            </td>
            <td> </td>
          </tr>
        </tbody>
      {% endfor %}
    </table>

  </div>
  {% comment %} FIM Texto dinâmico inferior {% endcomment %}

</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>
