<table class="col-12 mt-4" style="font-weight: normal !important;">
  <tr>
    <th style="width: 30%">Prioridade</th>
    <th style="width: 50%">Itens / Finalidade</th>
    <th style="width: 20%">Recurso</th>
  </tr>
  <tr>
    <td>Aquisição de Material de Consumo</td>
    <td></td>
    <td>
      <p>( ) PDDE</p>
      <p>( ) PTRF</p>
      <p>( ) REC. PRÓPRIOS</p>
    </td>
  </tr>
  <tr>
    <td>Aquisição de Material Permanente</td>
    <td></td>
    <td>
      <p>( ) PDDE</p>
      <p>( ) PTRF</p>
      <p>( ) REC. PRÓPRIOS</p>
    </td>
  </tr>
  <tr>
    <td>Atividades Assistenciais</td>
    <td></td>
    <td>
      <br />
      <br />
      <p>( ) REC. PRÓPRIOS</p>
      <br />
    </td>
  </tr>
  <tr>
    <td>Atividades Educacionais</td>
    <td></td>
    <td>
      <p>( ) PDDE</p>
      <p>( ) PTRF</p>
      <p>( ) REC. PRÓPRIOS</p>
    </td>
  </tr>
  <tr>
    <td>
      Contratação de Serviços para Conservação de Equipamentos e Mobiliários
    </td>
    <td></td>
    <td>
      <p>( ) PDDE</p>
      <p>( ) PTRF</p>
      <p>( ) REC. PRÓPRIOS</p>
    </td>
  </tr>
  <tr>
    <td>Contratação de Serviços para Conservação do Prédio</td>
    <td></td>
    <td>
      <p>( ) PDDE</p>
      <p>( ) PTRF</p>
      <p>( ) REC. PRÓPRIOS</p>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>
      <p>( ) PDDE</p>
      <p>( ) PTRF</p>
      <p>( ) REC. PRÓPRIOS</p>
    </td>
  </tr>
</table>
