<!doctype html>
<html lang="en">
{% load static %}
{% load formata_valores %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="{{ base_static_url }}/css/bootstrap/bootstrap-4.6.0.min.css" rel="stylesheet">
  <link href="{{ base_static_url }}/css/pdf-documento-paa-horizontal.css" rel="stylesheet">

  <title>Plano Anual de Atividades</title>
</head>
<body>
{% if dados.previa %}
<div class="container-watermark">
    <img class="watermark1" src="{{ base_static_url }}/images/watermark-visualizacao-previa.svg" alt="Marca da água visão prévia">
    <img class="watermark2" src="{{ base_static_url }}/images/watermark-visualizacao-previa.svg" alt="Marca da água visão prévia">
</div>
{% endif %}
{# ************************* Cabecalho das páginas *************************  #}
<header>
  <div class="d-flex">
    <div class="col-auto d-flex align-items-center">
      <img src="{{ base_static_url }}/images/logo_PrefSP_sem_fundo_horizontal_colorida.svg" alt="logo">
    </div>
    <div class="col-auto d-flex align-items-center justify-content-center mr-5 ml-5">
      <p class="mb-0">
        <span
          class="titulo font-14"><strong>Plano Anual de Atividades</strong></span><br/>
        <span class="font-12 mb-0"><strong>Plano anual {{dados.cabecalho.ano}}</strong></span>
      </p>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
      <p class="mb-0 font-12 borda-box-cabecalho-left borda-box-cabecalho-right px-3 py-3">
        <span><strong>Período de Execução:</strong></span><br/>
        <span><strong>{{ dados.cabecalho.mes_ano_inicio }} até {{ dados.cabecalho.mes_ano_fim }}</strong></span><br/>
      </p>
    </div>
  </div>
</header>
{# ************************* Fim Cabecalho das páginas *************************  #}

{# ************************* Rodape ************************* #}
<p id="nome-associacao-rodape" class="font-10">
  <i>{{ dados.identificacao_apm.tipo_unidade }} {{ dados.identificacao_apm.nome_unidade }}
    - {{ dados.data_geracao_documento }}</i>
</p>
{# ************************* Fim Rodape ************************* #}


<section class="conteudo mt-0">

  <section class="row">
    <article id="bloco-1" class="col mb-3 border p-0">
      <p class="font-14 pt-1 pb-1 pl-2 border-bottom"><strong>Bloco 1 - Identificação da Associação</strong></p>
      <div class="col-12">
        <div class="row">
          <div class="col-8">
            <p class="pt-2 mb-0"><strong>Nome da Associação:</strong></p>
            <p class="pb-2 mb-0">{{ dados.identificacao_associacao.nome_associacao }}</p>
          </div>

        </div>

      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-4">
            <p class="pt-2 mb-0"><strong>CNPJ:</strong></p>
            <p class="pb-2 mb-0">{{ dados.identificacao_associacao.cnpj_associacao }}</p>
          </div>
          <div class="col-4">
            <p class="pt-2 mb-0 "><strong>Código EOL:</strong></p>
            <p class="pb-2 mb-0">{{ dados.identificacao_associacao.codigo_eol_associacao }}</p>
          </div>
          <div class="col-4">
            <p class="pt-2 mb-0"><strong>Diretoria Regional de Educação:</strong></p>
            <p class="pb-2 mb-0">{{ dados.identificacao_associacao.nome_dre_associacao }}</p>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="row">
    <article id="bloco-2" class="col mb-3 border p-0">
      <p class="font-14 pt-1 pb-1 pl-2 border-bottom"><strong>Bloco 2 - Introdução</strong></p>
      <div class="col-12">
        <p class="pb-2 mb-0">{{ dados.texto_introducao|safe  }}</p>
      </div>
    </article>
  </section>

  <section class="row">
    <article id="bloco-3" class="col mb-3 border p-0">
      <p class="font-14 pt-1 pb-1 pl-2 border-bottom"><strong>Bloco 3 - Objetivos</strong></p>
      <div class="col-12">
        <p class="pb-2 mb-0">Os objetivos desse plano são:</p>
        <ul>
          {% for objetivo in dados.objetivos %}
            <li>{{objetivo.nome}}</li>
          {% endfor %}
        </ul>
      </div>
    </article>
  </section>

  {% include "./partials/tabela-plano-de-aplicacao.html" with dados=dados %}
  
  {% include "./partials/tabela-plano-orcamentario.html" with dados=dados %}
  
  {% include "./partials/tabela-atividades-previstas.html" with dados=dados %}

  <section class="row">
    <article id="bloco-7" class="col mb-3 border p-0">
      <p class="font-14 pt-1 pb-1 pl-2 border-bottom"><strong>Bloco 7 - Conclusão</strong></p>
      <div class="col-12">
        <p class="pb-2 mb-0">{{ dados.texto_conclusao|safe  }}</p>
      </div>
    </article>
  </section>

  {% if not dados.previa %}
  <section class="row">
    <article id="bloco-8" class="col mb-3 border p-0">
      <p class="font-14 pt-1 pb-1 pl-2 border-bottom"><strong>Bloco 8 - Assinatura do Responsável pelo Plano Anual de Atividades</strong></p>
      <div class="col-12">
        <div class="row pt-5">
          <div class="col mr-2 ml-0 pt-5">
            <p class="mb-0 text-center">
              __________________________________________________________________________________</p>
            <p class="font-12 text-center mb-0">Assinatura do Presidente da diretoria executiva da Associação</p>
            <p class="text-center"><strong>{{ dados.presidente_diretoria_executiva }}</strong></p>
          </div>
        </div>
      </div>
    </article>
  </section>
  {% endif %}
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>
</html>
